unpackaged/config/ready/13_Withdrawal/flows/Course_Withdrawal.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_To_CourseConnection_Single</name>
        <label>Add To CourseConnection_Single</label>
        <locationX>928</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>CourseConnection_Single.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Single_Course</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseConnection_Single.rio_ed__Enrollment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseConnection_Single.rio_ed__Grade_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>W</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CourseConnection_Single_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CourseConnection_Single_to_List</name>
        <label>Assign CourseConnection Single to List</label>
        <locationX>1074</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>CourseConnection_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CourseConnection_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Selected_Year_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Value_to_String</name>
        <label>Assign Selected Value to String</label>
        <locationX>587</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>Selected_Course_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_the_Course_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Course_String</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Selected_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Selected_Year_String</name>
        <label>Update the Selected Year String</label>
        <locationX>878</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>Selected_Course_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Selected_Course_String</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Selected_String</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Selected_String</name>
        <label>Check Selected String</label>
        <locationX>731</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>Add_To_CourseConnection_Single</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not null</defaultConnectorLabel>
        <rules>
            <name>is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Course_String</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Course_Connection</targetReference>
            </connector>
            <label>is null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PicklistOption_Course_Connection</name>
        <dataType>String</dataType>
        <displayField>rio_ed__Course__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__PE_Pathway__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_study_period</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Enrollment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </filters>
        <object>hed__Course_Enrollment__c</object>
        <outputAssignments>
            <assignToReference>CourseConnectionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistOption_PE_Pathway</name>
        <dataType>String</dataType>
        <displayField>Enrolled_Term__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_relevant_Program_Enrollment</elementReference>
            </value>
        </filters>
        <object>rio_ed__PE_Pathway_Status__c</object>
        <outputAssignments>
            <assignToReference>PEPathwayId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistOption_Program_Enrollment</name>
        <dataType>String</dataType>
        <displayField>Program_Enrollment__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Program_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputAssignments>
            <assignToReference>ProgramEnrollmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Single_Course</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(LEFT({!Selected_Course_String},FIND(&quot;;&quot;,{!Selected_Course_String})),&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>Updated_Selected_Course_String</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!Selected_Course_String},{!Single_Course} + &quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Course Withdrawal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Withdrawal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>177</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Student_Program_Enrollment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_Connection</name>
        <label>Update Course Connection</label>
        <locationX>733</locationX>
        <locationY>618</locationY>
        <connector>
            <targetReference>Update_Existing_Case</targetReference>
        </connector>
        <inputReference>CourseConnection_List</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Case</name>
        <label>Update Existing Case</label>
        <locationX>909</locationX>
        <locationY>619</locationY>
        <connector>
            <targetReference>Update_PE_Pathway</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>redu_Related_Program_Enrollment__c</field>
            <value>
                <elementReference>ProgramEnrollmentId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PE_Pathway</name>
        <label>Update PE Pathway</label>
        <locationX>1067</locationX>
        <locationY>619</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_study_period</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Drop_Course_Date__c</field>
            <value>
                <elementReference>Get_Case.Official_Date_of_Withdrawal__c</elementReference>
            </value>
        </inputAssignments>
        <object>rio_ed__PE_Pathway_Status__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>440</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Value_to_String</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Text</name>
            <fieldText>&lt;p&gt;You are about to withdraw following courses from the student enrolled Program - {!Select_the_relevant_Program_Enrollment}:&lt;/p&gt;&lt;p&gt;{!Select_the_Course_s}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click confirm to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Page_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Confirm</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Course_Enrollment</name>
        <label>Course Enrollment</label>
        <locationX>312</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Course_Enrollment_Alert</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the course(s) to withdraw as per student request.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_the_Course_s</name>
            <choiceReferences>PicklistOption_Course_Connection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Course(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Course_Selection_Page_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enrollment_Term</name>
        <label>Enrollment Term</label>
        <locationX>180</locationX>
        <locationY>476</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Course_Enrollment</targetReference>
        </connector>
        <fields>
            <name>Enrollment_Term_Alert</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please select/ensure the right enrollment term that the student is withdrawing the course from.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_the_study_period</name>
            <choiceReferences>PicklistOption_PE_Pathway</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the study period</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Study_Period_Page_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Student_Program_Enrollment</name>
        <label>Student Program Enrollment</label>
        <locationX>179</locationX>
        <locationY>329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Enrollment_Term</targetReference>
        </connector>
        <fields>
            <name>Program_Enrollment_Alert</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please select/ensure the right program enrollment that the student is withdrawing the course from.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_the_relevant_Program_Enrollment</name>
            <choiceReferences>PicklistOption_Program_Enrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the relevant Program Enrollment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PE_Selection_Page_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CourseConnection_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>CourseConnection_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>CourseConnectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PEPathwayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProgramEnrollmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Course_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
