unpackaged/config/ready/31_CE_Registration_Form/flows/Study_Offering_Register_Emergency_Contacts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_emergency_contact</name>
        <label>Assign emergency contact</label>
        <locationX>1096</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ec_Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ec_Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Relationship: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ec_Relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phone: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ec_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Email: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ec_email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Contact_Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_more_emergency_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Registration</name>
        <label>Assign Registration</label>
        <locationX>1302</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>object_Study_Registration.redu_Medical_details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Describe_if_you_have_any_medical_physical_conditions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>object_Study_Registration.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>studyRegistrationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>object_Study_Registration.redu_Emergency_Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency_Contact_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Study_Registration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_more_emergency_contact</name>
        <label>Add more emergency contact?</label>
        <locationX>1294</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>Assign_Registration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Add_more_emergency_contact_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_another_emergency_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emergency_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Study Offering Register - Emergency Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Study Offering Register - Medical Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Study_Registration</name>
        <label>Update Study Registration</label>
        <locationX>1101</locationX>
        <locationY>761</locationY>
        <inputReference>object_Study_Registration</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Emergency_Contact</name>
        <label>Emergency Contact</label>
        <locationX>1096</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_emergency_contact</targetReference>
        </connector>
        <fields>
            <name>PB_Emergency_Info_Contact</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Emergency_Contacts</name>
            <fieldText>Family Contacts</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Emergency_Contacts_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ec_Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ec_Relationship</name>
                    <dataType>String</dataType>
                    <fieldText>Relationship</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ec_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ec_email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Add_another_emergency_contact</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Add another Family contact?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Medical_Details</name>
        <label>Medical Details</label>
        <locationX>1096</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Emergency_Contact</targetReference>
        </connector>
        <fields>
            <name>PB_Student_Info_Contact</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>sr_Medical_Details</name>
            <fieldText>Family and Medical Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sr_Medical_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Describe_if_you_have_any_medical_physical_conditions</name>
                    <fieldText>Describe if you have any medical/physical conditions.</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Medical_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NewLine</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;br&gt;</text>
    </textTemplates>
    <variables>
        <name>Emergency_Contact_Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>object_Study_Registration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rio_ed__Study_Registration__c</objectType>
    </variables>
    <variables>
        <name>studyRegistrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
