unpackaged/config/ready/31_CE_Registration_Form/flows/Study_Offering_Register.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Stage_03</name>
        <label>Add Stage 03</label>
        <locationX>234</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Stage03_Dietary_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Emergency_Contact_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stage_04</name>
        <label>Add Stage 04</label>
        <locationX>584</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Stage04_Emergency_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Comm_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Guest_User_Contact_Info</name>
        <label>Assign Guest User Contact Info</label>
        <locationX>973</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>Object_Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GuestName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GuestName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Contact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GuestName.salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GuestEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GuestPhone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invalid_Study_Credit_Code</name>
        <label>Assign Invalid Study Credit Code</label>
        <locationX>1586</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>InvalidStudyCreditCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Code_Optional</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasAnotherCreditCode_Boolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Study_Credit_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Information</name>
        <label>Assign Order Information</label>
        <locationX>2425</locationX>
        <locationY>898</locationY>
        <assignmentItems>
            <assignToReference>Object_Order.rio_ed__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Order.rio_ed__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Continuing Education Registrations</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Order.rio_ed__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Draft_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Study_Credit_Code</name>
        <label>Assign Selected Study Credit Code</label>
        <locationX>1560</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>SelectedStudyCreditCodeSFID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Available_Credit_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Comm_User2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Available_Study_Credit</name>
        <label>Count Available Study Credit</label>
        <locationX>1277</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>Available_Study_Credit_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ObjectList_StudyCredits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Course_Info_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Id</name>
        <label>Set Contact Id</label>
        <locationX>909</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>Input_Contact_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dietary_Stage</name>
        <label>Set Dietary Stage</label>
        <locationX>2951</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage03_Dietary_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dietary_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Medical_Info_Stage</name>
        <label>Set Medical Info Stage</label>
        <locationX>3205</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage04_Emergency_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Emergency_Contact_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_2</name>
        <label>Set Stage 2</label>
        <locationX>1053</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage02_Course_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Free_Course</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Draft_Order_Exists</name>
        <label>Draft Order Exists?</label>
        <locationX>2320</locationX>
        <locationY>720</locationY>
        <defaultConnector>
            <targetReference>Assign_Order_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Draft_Order_Exists_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Free_Course</name>
        <label>Free Course or Waitlist?</label>
        <locationX>1245</locationX>
        <locationY>342</locationY>
        <defaultConnector>
            <targetReference>Course_Info_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Guest User)</defaultConnectorLabel>
        <rules>
            <name>Free_Course_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Query_Study_Offering.rio_ed__Fee_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Free</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isWaitlistJoinCheckedTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Registration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Free_Course_No_Comm_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Study_Offering.rio_ed__Fee_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Free</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Global_User_ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Study_Credit</targetReference>
            </connector>
            <label>No (Comm. User)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Available_Study_Credit_Code</name>
        <label>Has Available Study Credit Code?</label>
        <locationX>1389</locationX>
        <locationY>836</locationY>
        <defaultConnector>
            <targetReference>Is_Comm_User2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Available_Study_Credit_Code_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Available_Credit_Code</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Study_Credit_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Credit_Code</name>
        <label>Has Credit Code?</label>
        <locationX>1390</locationX>
        <locationY>667</locationY>
        <defaultConnector>
            <targetReference>Has_Available_Study_Credit_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Credit_Code_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Credit_Code_Optional</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Credit_Code_Optional</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Company_Study_Credit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Valid_Study_Credit_Code</name>
        <label>Has Valid Study Credit Code?</label>
        <locationX>2022</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>Query_Draft_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Valid_Study_Credit_Code_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedStudyCreditCodeSFID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedStudyCreditCodeSFID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Registration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Comm_User</name>
        <label>Is Comm. User?</label>
        <locationX>674</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Guest_Registration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsCommUser_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Global_User_ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Comm_User2</name>
        <label>Is Comm. User?</label>
        <locationX>1728</locationX>
        <locationY>837</locationY>
        <defaultConnector>
            <targetReference>Create_New_Student_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Comm_User2_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Global_User_ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Valid_Study_Credit_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Comm_User_2</name>
        <label>Is Comm. User?</label>
        <locationX>3575</locationX>
        <locationY>485</locationY>
        <defaultConnector>
            <targetReference>Thank_You_Screen_without_Study_Code_Comm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Comm_User_2Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Global_User_ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_You_Screen_without_Study_Code_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Dietary_Info_Required</name>
        <label>Is Dietary Info Required?</label>
        <locationX>419</locationX>
        <locationY>491</locationY>
        <defaultConnector>
            <targetReference>Is_Emergency_Contact_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Dietary_Info_Required_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Study_Offering.redu_Is_Dietary_Info_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Stage_03</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Dietary_Info_Required_1</name>
        <label>Is Dietary Info Required?</label>
        <locationX>2834</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Is_Emergency_Contact_Required1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Dietary_Info_Required_Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Study_Offering.redu_Is_Dietary_Info_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dietary_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Emergency_Contact_Required</name>
        <label>Is Emergency Contact Required?</label>
        <locationX>418</locationX>
        <locationY>702</locationY>
        <defaultConnector>
            <targetReference>Is_Comm_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Emergency_Contact_Required_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Study_Offering.redu_Is_Emergency_Contact_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Stage_04</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Emergency_Contact_Required1</name>
        <label>Is Emergency Contact Required?</label>
        <locationX>3081</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>Required_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Emergency_Contact_Required_Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Study_Offering.redu_Is_Emergency_Contact_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Medical_Info_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Join_Waitlist_True</name>
        <label>Join Waitlist True</label>
        <locationX>50</locationX>
        <locationY>535</locationY>
        <defaultConnector>
            <targetReference>No_Places_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isWaitlistJoinCheckedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JoinWaitlistToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Dietary_Info_Required</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Places_Available</name>
        <label>Places Available?</label>
        <locationX>419</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>No_Places_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Places_Available_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Study_Offering.rio_ed__Available_Places__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Query_Study_Offering.rio_ed__Waitlisted_Places__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Dietary_Info_Required</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Waitlist_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Study_Offering.rio_ed__Enable_Waitlist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waitlist</targetReference>
            </connector>
            <label>Waitlist Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Payment</name>
        <label>Required Payment?</label>
        <locationX>3319</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Is_Comm_User_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedStudyCreditCodeSFID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedStudyCreditCodeSFID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_You_Screen_with_Study_Code</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Study_Credit_Code</name>
        <label>Valid Study Credit Code?</label>
        <locationX>1726</locationX>
        <locationY>496</locationY>
        <defaultConnector>
            <targetReference>Course_Info_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Valid_Study_Credit_Code_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedStudyCreditCodeSFID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Comm_User2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updated to handle Waitlists</description>
    <dynamicChoiceSets>
        <name>PicklistCollection_StudyCredits</name>
        <collectionReference>ObjectList_StudyCredits</collectionReference>
        <dataType>String</dataType>
        <displayField>rio_ed__Code__c</displayField>
        <object>rio_ed__Study_Credit__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>checkoutURL_F</name>
        <dataType>String</dataType>
        <expression>{!$Setup.rio_ed__RIO_Education_Settings__c.rio_ed__Payment_URL__c}</expression>
    </formulas>
    <formulas>
        <name>Global_User_ContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>RegistrationStatus_F</name>
        <dataType>String</dataType>
        <expression>If(
   {!isWaitlistJoinCheckedTrue} , &apos;Waitlisted&apos; ,
 if(
	AND(
		NOT(ISNULL({!SelectedStudyCreditCodeSFID})),
		NOT(ISBLANK({!SelectedStudyCreditCodeSFID}))
	),
	&apos;Confirmed&apos;,
	&apos;Draft&apos;
))</expression>
    </formulas>
    <formulas>
        <name>SelectedStudyCreditCodeSFID_F</name>
        <dataType>String</dataType>
        <expression>If(
	AND(
		NOT(ISNULL({!SelectedStudyCreditCodeSFID})),
		NOT(ISBLANK({!SelectedStudyCreditCodeSFID}))
	),
	{!SelectedStudyCreditCodeSFID},
	{!Available_Credit_Code}
)</expression>
    </formulas>
    <interviewLabel>Study Offering Register {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Study Offering Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Draft_Order</name>
        <label>Create Draft Order</label>
        <locationX>2516</locationX>
        <locationY>718</locationY>
        <connector>
            <targetReference>Create_Order_Line</targetReference>
        </connector>
        <inputReference>Object_Order</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Student_Contact</name>
        <label>Create New Student Contact</label>
        <locationX>2030</locationX>
        <locationY>705</locationY>
        <connector>
            <targetReference>Has_Valid_Study_Credit_Code</targetReference>
        </connector>
        <inputReference>Object_Contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Line</name>
        <label>Create Order Line</label>
        <locationX>2517</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>Create_Registration</targetReference>
        </connector>
        <inputAssignments>
            <field>rio_ed__Amount__c</field>
            <value>
                <elementReference>Query_Study_Offering.rio_ed__Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Description__c</field>
            <value>
                <elementReference>Query_Study_Offering.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Order__c</field>
            <value>
                <elementReference>Object_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Study_Offering__c</field>
            <value>
                <elementReference>Query_Study_Offering.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Unit_Price__c</field>
            <value>
                <elementReference>Query_Study_Offering.rio_ed__Fee__c</elementReference>
            </value>
        </inputAssignments>
        <object>rio_ed__Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Registration</name>
        <label>Create Registration</label>
        <locationX>2689</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>Is_Dietary_Info_Required_1</targetReference>
        </connector>
        <inputAssignments>
            <field>redu_Other_Preferences__c</field>
            <value>
                <elementReference>Other_Preferences</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Contact__c</field>
            <value>
                <elementReference>Object_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Order_Line__c</field>
            <value>
                <elementReference>Create_Order_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Status__c</field>
            <value>
                <elementReference>RegistrationStatus_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Study_Credit__c</field>
            <value>
                <elementReference>SelectedStudyCreditCodeSFID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Study_Offering__c</field>
            <value>
                <elementReference>Query_Study_Offering.Id</elementReference>
            </value>
        </inputAssignments>
        <object>rio_ed__Study_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Query_Company_Study_Credit</name>
        <label>Query Company Study Credit</label>
        <locationX>1587</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Invalid_Study_Credit_Code</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6) AND (7 OR 8) AND 9 AND 10 AND 11</filterLogic>
        <filters>
            <field>rio_ed__Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Credit_Code_Optional</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Study_Codes__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Query_Study_Offering.rio_ed__Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Study_Codes__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Study_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Query_Study_Offering.rio_ed__Study_Area__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Study_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Delivery_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Query_Study_Offering.rio_ed__Delivery_Method__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Delivery_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Remaining_Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Expiry_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>rio_ed__Study_Credit__c</object>
        <outputAssignments>
            <assignToReference>SelectedStudyCreditCodeSFID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Query_Contact</name>
        <label>Query Contact</label>
        <locationX>783</locationX>
        <locationY>709</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contact_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Global_User_ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Object_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>rio_ed__Corporate_Purchaser__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Draft_Order</name>
        <label>Query Draft Order</label>
        <locationX>2188</locationX>
        <locationY>718</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Draft_Order_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Object_Contact.Id</elementReference>
            </value>
        </filters>
        <object>rio_ed__Order__c</object>
        <outputReference>Object_Order</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Query_Study_Credit</name>
        <label>Query Study Credit</label>
        <locationX>1167</locationX>
        <locationY>571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Available_Study_Credit</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6) AND (7 OR 8) AND 9 AND 10</filterLogic>
        <filters>
            <field>rio_ed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Global_User_ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Study_Codes__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Query_Study_Offering.rio_ed__Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Study_Codes__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Study_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Query_Study_Offering.rio_ed__Study_Area__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Study_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Delivery_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Query_Study_Offering.rio_ed__Delivery_Method__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Delivery_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Remaining_Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Expiry_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>rio_ed__Study_Credit__c</object>
        <outputReference>ObjectList_StudyCredits</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rio_ed__Code__c</queriedFields>
        <queriedFields>rio_ed__Contact__c</queriedFields>
        <queriedFields>rio_ed__Status__c</queriedFields>
        <queriedFields>rio_ed__Study_Codes__c</queriedFields>
        <queriedFields>rio_ed__Study_Area__c</queriedFields>
        <queriedFields>rio_ed__Delivery_Method__c</queriedFields>
        <queriedFields>rio_ed__Remaining_Quantity__c</queriedFields>
        <queriedFields>rio_ed__Expiry_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Study_Offering</name>
        <label>Query Study Offering</label>
        <locationX>427</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Places_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rio_ed__Study_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Course_Info_Screen</name>
        <label>Registration Info</label>
        <locationX>1398</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Has_Credit_Code</targetReference>
        </connector>
        <fields>
            <name>PB_Course_Info</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Course_Info_Section</name>
            <fieldText>Registration Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Course_Info_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Course_Info_Label</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Course: {!Query_Study_Offering.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Fee Amount: {!Query_Study_Offering.rio_ed__Fee__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Available_Credit_Code</name>
                    <choiceReferences>PicklistCollection_StudyCredits</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Available Credit Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Available_Study_Credit_Count</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Has_another_Credit_Code</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Has_another_Credit_Code</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>HasAnotherCreditCode_Boolean</elementReference>
                    </defaultValue>
                    <fieldText>Has another Credit Code?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Available_Study_Credit_Count</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Credit_Code_Optional</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>InvalidStudyCreditCode</elementReference>
                    </defaultValue>
                    <fieldText>Voucher Code (Optional)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If you have study credit or a Company Voucher enter it here.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Global_User_ContactId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Available_Study_Credit_Count</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Has_another_Credit_Code</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Invalid_Code_Error</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Invalid Credit Code. Please make sure you fill in a valid credit code or empty this field to continue.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>InvalidStudyCreditCode</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>SelectedStudyCreditCodeSFID</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Has_another_Credit_Code</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Guest_Registration</name>
        <label>Guest Registration</label>
        <locationX>849</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Guest_User_Contact_Info</targetReference>
        </connector>
        <fields>
            <name>PB_Student_Info_Guest</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WelcomeGuest</name>
            <fieldText>&lt;p&gt;Please provide the following information to confirm your registration.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Student_Information_Guest</name>
            <fieldText>Student Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Student_Information_Guest_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GuestName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>salution,firstName,lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Student Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>GuestEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Object_Contact.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>GuestPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Object_Contact.MobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Preference_Information_Guest</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preference_Information_Guest_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Preferences_Guest</name>
                    <fieldText>Special Requirements</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Enter any Special Requirements (if any). This will be used to assist in planning.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Places_Available</name>
        <label>No Places Available</label>
        <locationX>159</locationX>
        <locationY>220</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Places_Available_Message</name>
            <fieldText>&lt;p&gt;Due to overwhelming demand and limited capacity, we regret to inform you that the course has reached maximum capacity and is now fully booked.&lt;/p&gt;&lt;p&gt;Unfortunately, you have been unable to secure a spot in - {!Query_Study_Offering.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Registration</name>
        <label>Registration</label>
        <locationX>1056</locationX>
        <locationY>711</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_2</targetReference>
        </connector>
        <fields>
            <name>Greeting</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(34, 47, 121); font-size: 18px;&quot;&gt;Welcome back, {!Object_Contact.FirstName},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please update your details or skip to the next page&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PB_Student_Info_Contact</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Student_Information_Contact</name>
            <fieldText>Contact Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Student_Information_Contact_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>con_Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>salutation</name>
                        <value>
                            <elementReference>Object_Contact.Salutation</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>Object_Contact.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>firstName,lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>Object_Contact.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Student_Information_Contact_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Primary Phone Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Object_Contact.MobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Object_Contact.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Preference_Information_Contact</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preference_Information_Contact_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Preferences</name>
                    <fieldText>Special Requirements</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Please enter any special requirements you may have (if any). This will be used to assist in planning.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen_with_Study_Code</name>
        <label>Thank You Screen (with Study Code)</label>
        <locationX>3580</locationX>
        <locationY>260</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thankyou</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: 16px;&quot;&gt;Thanks for Registering for the course - {!Query_Study_Offering.Name}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;You are all set. You will receive an email with details of your enrollment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StudyRedirection</name>
            <extensionName>c:redu_flowFooterRedirection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>redirector1Label</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRedirector2</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>redirectorUrl1</name>
                <value>
                    <stringValue>https://rio-edu-tso.my.site.com/rioinstitution/s/short-course-listing</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen_without_Study_Code_0</name>
        <label>Thank You Screen (without Study Code)</label>
        <locationX>3867</locationX>
        <locationY>392</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thankyou_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: 16px;&quot;&gt;Thanks for Registering for the course - {!Query_Study_Offering.Name}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt;Please note that your enrollment will be confirmed once the payment is completed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Redirection</name>
            <extensionName>c:redu_flowFooterRedirection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>redirector1Label</name>
                <value>
                    <stringValue>Add More Courses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>redirector2Label</name>
                <value>
                    <stringValue>Checkout</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>redirectorUrl1</name>
                <value>
                    <stringValue>https://rio-edu-tso.my.site.com/rioinstitution/s/short-course-listing</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>redirectorUrl2</name>
                <value>
                    <stringValue>https://rio-edu-tso.my.site.com/rioinstitution/s/shopping-cart</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRedirector1</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRedirector2</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen_without_Study_Code_Comm</name>
        <label>Thank You Screen (without Study Code) Comm</label>
        <locationX>3872</locationX>
        <locationY>580</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thankyou_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: 16px;&quot;&gt;Thanks for Registering for the course - {!Query_Study_Offering.Name}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt;Please note that your enrollment will be confirmed once the payment is completed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Redirection_0</name>
            <extensionName>c:redu_flowFooterRedirection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>redirector1Label</name>
                <value>
                    <stringValue>Add More Courses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>redirector2Label</name>
                <value>
                    <stringValue>Checkout</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>redirectorUrl1</name>
                <value>
                    <stringValue>https://rio-edu-tso.my.site.com/rioinstitution/s/short-course-listing</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>redirectorUrl2</name>
                <value>
                    <stringValue>https://rio-edu-tso.my.site.com/rioinstitution/s/shopping-cart</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRedirector1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRedirector2</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Decision to join the waiting list</description>
        <name>Waitlist</name>
        <label>Waitlist</label>
        <locationX>208</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Join_Waitlist_True</targetReference>
        </connector>
        <fields>
            <name>WaitlistText</name>
            <fieldText>&lt;p&gt;The course is full, would you like to join the waitlist?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>JoinWaitlistToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Join Waitlist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Stage01_Student_Info</name>
        <isActive>true</isActive>
        <label>Contact Information</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Stage02_Course_Info</name>
        <isActive>true</isActive>
        <label>Registration Information</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Stage03_Dietary_Info</name>
        <isActive>false</isActive>
        <label>Dietary Information</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <name>Stage04_Emergency_Contact</name>
        <isActive>false</isActive>
        <label>Medical Information</label>
        <stageOrder>20</stageOrder>
    </stages>
    <start>
        <locationX>301</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Query_Study_Offering</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Add_Emergency_Contact_Details</name>
        <label>Add Emergency Contact Details</label>
        <locationX>3319</locationX>
        <locationY>657</locationY>
        <connector>
            <targetReference>Required_Payment</targetReference>
        </connector>
        <flowName>Study_Offering_Register_Emergency_Contacts</flowName>
        <inputAssignments>
            <name>studyRegistrationId</name>
            <value>
                <elementReference>Create_Registration</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Dietary_Information</name>
        <label>Update Dietary Information</label>
        <locationX>3070</locationX>
        <locationY>653</locationY>
        <connector>
            <targetReference>Is_Emergency_Contact_Required1</targetReference>
        </connector>
        <flowName>Study_Offering_Register_Dietary_Info</flowName>
        <inputAssignments>
            <name>studyRegistrationId</name>
            <value>
                <elementReference>Create_Registration</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Available_Study_Credit_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>HasAnotherCreditCode_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Input_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvalidStudyCreditCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Object_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Object_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rio_ed__Order__c</objectType>
    </variables>
    <variables>
        <name>ObjectList_StudyCredits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rio_ed__Study_Credit__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedStudyCreditCodeSFID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
