unpackaged/config/ready/31_CE_Registration_Form/flows/Study_Offering_Register_Dietary_Info.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Dairy</name>
        <choiceText>Dairy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dairy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gluten</name>
        <choiceText>Gluten</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!Gluten</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nuts</name>
        <choiceText>Nuts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{Nuts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shellfish</name>
        <choiceText>Shellfish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shellfish</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Study Offering Register {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Study Offering Register - Dietary Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Study_Registration</name>
        <label>Update Study Registration</label>
        <locationX>1096</locationX>
        <locationY>427</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>studyRegistrationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>redu_Dietary_Information__c</field>
            <value>
                <elementReference>sr_Dietary_Infomation</elementReference>
            </value>
        </inputAssignments>
        <object>rio_ed__Study_Registration__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Dietary_Info</name>
        <label>Dietary Info</label>
        <locationX>1096</locationX>
        <locationY>229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Study_Registration</targetReference>
        </connector>
        <fields>
            <name>PB_Student_Info_Contact</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Dietary_Information</name>
            <fieldText>Dietary Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dietary_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vegetatarian</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Vegetatarian</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dietary_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vegan</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Vegan</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Food_Intolerances_Check_all_that_apply</name>
            <choiceReferences>Dairy</choiceReferences>
            <choiceReferences>Gluten</choiceReferences>
            <choiceReferences>Nuts</choiceReferences>
            <choiceReferences>Shellfish</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Food Intolerances (Check all that apply)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>sr_Dietary_Infomation</name>
            <fieldText>Please let us know if you have any other special dietary requirements.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Dietary_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>studyRegistrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
