unpackaged/post/12_appointment_scheduler_automation/flows/Appointment_Status_email_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_for_Contact</name>
        <label>Send email for Contact</label>
        <locationX>138</locationX>
        <locationY>671</locationY>
        <actionName>rio_ed__Contact_Attendance__c.Send_Email_to_Contact_Attendances</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_through_Contacts.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Check_if_Status_or_Time_changed</name>
        <label>Check if Status or Time changed</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>(1 AND 4) OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rio_ed__Booking_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.rio_ed__Booking_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.rio_ed__End__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.rio_ed__End__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.rio_ed__Start__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.rio_ed__Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.rio_ed__Booking_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_related_Contact_Attendances</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <description>Sends email to appointment&apos;s Contacts when the appointment is updated - But not when confirmed</description>
    <interviewLabel>Appointment Status email flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment Status email flow</label>
    <loops>
        <name>Loop_through_Contacts</name>
        <label>Loop through Contacts</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <collectionReference>Find_related_Contact_Attendances</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_email_for_Contact</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Finds all active Contact Attendances for the appointment (who haven&apos;t rejected the appointment).
Used to find Contact Emails for sending emails.</description>
        <name>Find_related_Contact_Attendances</name>
        <label>Find related Contact Attendances</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected &amp; Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Contact_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rio_ed__Contact_Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Status_or_Time_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__Appointment_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>rio_ed__Allocation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
