unpackaged/config/ready/AccountsReceivableDisplay/flows/redu_Student_Accounts_Receivable_Display.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <description>Display the Accounts Receivable</description>
    <formulas>
        <description>Accounts Receivable Amount if it&apos;s less than 0</description>
        <name>Negative_AR_Amount</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Contact.redu_Displayed_AR_Amount__c} &lt;= 0, ABS({!Get_Contact.redu_Displayed_AR_Amount__c}), null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Accounts Receivable Amount if it&apos;s above 0</description>
        <name>Positive_AR_Amount</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Contact.redu_Displayed_AR_Amount__c} &gt; 0, {!Get_Contact.redu_Displayed_AR_Amount__c}, null)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Student Accounts Receivable Display {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Student Accounts Receivable Display</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Retrieve the relevant contact record</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>588</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AR_Display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Display the AR Amount to the user</description>
        <name>AR_Display</name>
        <label>AR Display</label>
        <locationX>588</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Negative_AR_Amount_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;You have&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 127, 0);&quot;&gt;﻿{!Negative_AR_Amount}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Last updated {!Get_Contact.redu_Accounts_Receivable_Last_Updated__c} (refreshed daily)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Negative_AR_Amount</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Positive_AR_Amount_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;You owe&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 64, 20); font-size: 14px;&quot;&gt;﻿{!Positive_AR_Amount}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Last updated {!Get_Contact.redu_Accounts_Receivable_Last_Updated__c} (refreshed daily)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Positive_AR_Amount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>462</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of the Contact record</description>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.ContactId</elementReference>
        </value>
    </variables>
</Flow>
