unpackaged/config/ready/10_Scholarship/flows/REDU_Scholarship_Application.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>HasScholarship</name>
        <label>HasScholarship</label>
        <locationX>200</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>NoScholarshipApplication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasScholarshipTRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueryScholarshipList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStudentInfo</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ScholarshipList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__Funding_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Funding_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Funding_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scholarship</stringValue>
            </value>
        </filters>
        <object>rio_ed__Funding__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>currentContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>REDU Scholarship Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>REDU Scholarship Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateFundingAllocation</name>
        <label>CreateFundingAllocation</label>
        <locationX>833</locationX>
        <locationY>588</locationY>
        <connector>
            <targetReference>Upload_Attachment</targetReference>
        </connector>
        <inputAssignments>
            <field>rio_ed__Amount__c</field>
            <value>
                <elementReference>Query_Selected_Funding.rio_ed__Max_Amount_per_Student__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Contact__c</field>
            <value>
                <elementReference>currentContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Description__c</field>
            <value>
                <elementReference>input_application_reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Funding__c</field>
            <value>
                <elementReference>Query_Selected_Funding.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Max_Amount_per_Term__c</field>
            <value>
                <elementReference>Query_Selected_Funding.rio_ed__Max_Amount_per_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Program_Enrollment__c</field>
            <value>
                <elementReference>Get_PE.Id</elementReference>
            </value>
        </inputAssignments>
        <object>rio_ed__Funding_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_PE</name>
        <label>Get_PE</label>
        <locationX>528</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>rio_ed__Program_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Program_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Program_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Program_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStudentInfo</name>
        <label>GetStudentInfo</label>
        <locationX>373</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve fields from the selected Funding</description>
        <name>Query_Selected_Funding</name>
        <label>Query Selected Funding</label>
        <locationX>677</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateFundingAllocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_allocation_scholarship</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rio_ed__Funding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Based on within TODAY date range, Domestic</description>
        <name>QueryScholarshipList</name>
        <label>QueryScholarshipList</label>
        <locationX>209</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasScholarship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__Funding_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Funding_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Funding_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scholarship</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rio_ed__Funding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Funding_Allocation</name>
        <label>Update Funding Allocation</label>
        <locationX>983</locationX>
        <locationY>740</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateFundingAllocation</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>redu_Declaration_Acknowledgement__c</field>
            <value>
                <elementReference>input_declare_ack1</elementReference>
            </value>
        </inputAssignments>
        <object>rio_ed__Funding_Allocation__c</object>
    </recordUpdates>
    <screens>
        <name>Application</name>
        <label>Application</label>
        <locationX>673</locationX>
        <locationY>442</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Query_Selected_Funding</targetReference>
        </connector>
        <fields>
            <name>PersonalDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Section 1: Personal Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StudentName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>GetStudentInfo.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>GetStudentInfo.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(89, 87, 87);&quot;&gt;Address&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GetStudentInfo.MailingStreet}&lt;/p&gt;&lt;p&gt;{!GetStudentInfo.MailingCity} {!GetStudentInfo.MailingState} {!GetStudentInfo.MailingPostalCode}&lt;/p&gt;&lt;p&gt;{!GetStudentInfo.MailingCountry}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StudentEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GetStudentInfo.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Type_of_Scholarship</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Section 2: Type of Scholarship&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Please select the type of scholarship/s you wish to apply for. You can make more than 1 selection.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_allocation_scholarship</name>
            <choiceReferences>ScholarshipList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;You can select more than 1 scholarship&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Personal_Statement</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Section 3: Personal Statement&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_application_reason</name>
            <fieldText>Why are you applying for a scholarship?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Lato, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Lucida Grande&amp;quot;, Tahoma, Verdana, sans-serif; color: rgb(89, 93, 100);&quot;&gt;Please refer to the guidelines listed on: https://www.aim.edu.au/scholarships in your answer&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoScholarshipApplication</name>
        <label>NoScholarshipApplication</label>
        <locationX>205</locationX>
        <locationY>643</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TerminateApplication</name>
            <fieldText>&lt;p&gt;No scholarship is available for application.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank_You</label>
        <locationX>1126</locationX>
        <locationY>739</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thankyou_note</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for completing the scholarship application form. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You will receive a notification on the application status update once it is reviewed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Attachment</name>
        <label>Upload Attachment</label>
        <locationX>985</locationX>
        <locationY>588</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Funding_Allocation</targetReference>
        </connector>
        <fields>
            <name>Supporting_Document_Upload</name>
            <extensionName>rio_ed:CustomFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>CreateFundingAllocation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>uploadAs</name>
                <value>
                    <stringValue>Salesforce Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Please upload supporting document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>acceptedSFFileType</name>
                <value>
                    <stringValue>.docx, .pdf, .ppt, .pptx, .xls, .xlsx, .txt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>instantUpload</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Declaration_Submission1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Section 4: Declaration and Submission&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Scholarships will be offered under the following conditions with each successful applicant required to agree to:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Carry out additional duties and instructions as required&lt;/li&gt;&lt;li&gt;Abide by such conditions as may be stipulated&lt;/li&gt;&lt;li&gt;Take up the scholarship in the academic intake for which it is offered&lt;/li&gt;&lt;li&gt;Follow the course of study and abide by the rules&lt;/li&gt;&lt;li&gt;Submit any progress report as outlined above when required&lt;/li&gt;&lt;li&gt;To the release of information contained in this application form to relevant authorities to enable placement in a tertiary institution and the ongoing administration of my scholarship&lt;/li&gt;&lt;li&gt;Participate in activities as required and act in a manner that will not bring disrepute to myself&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;By submitting this form you:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_declare_ack1</name>
            <dataType>Boolean</dataType>
            <fieldText>Declare that to the best of your knowledge, the information you have supplied on this form and in the attachments are true and correct</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please acknowledge this to continue.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!input_declare_ack1} = true</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>81</locationX>
        <locationY>113</locationY>
        <connector>
            <targetReference>QueryScholarshipList</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
