unpackaged/post/15_study_rules_automation/flows/Study_Rule_After_Automation_PE_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Record_Status</name>
        <label>Check Record Status</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Evaluation_Completed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rio_ed__Program_Enrollment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.rio_ed__Evaluation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation Passed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.rio_ed__Evaluation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Type_of_Study_Rule</targetReference>
            </connector>
            <label>Evaluation Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_of_Study_Rule</name>
        <label>Check Type of Study Rule</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Progression</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rio_ed__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Progression</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrolment_Standing</targetReference>
            </connector>
            <label>Progression</label>
        </rules>
        <rules>
            <name>Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rio_ed__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Completion_Status</targetReference>
            </connector>
            <label>Completion</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>valueForCompletionTypeStudyRule</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.rio_ed__Evaluation_Status__c}) = &apos;Evaluation Passed&apos;, &apos;Completion Rules Passed&apos;, &apos;Completion Issue&apos;)</expression>
    </formulas>
    <formulas>
        <name>valueForProgressionTypeStudyRule</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.rio_ed__Evaluation_Status__c}) = &apos;Evaluation Passed&apos;, &apos;Provisional&apos;, &apos;Blocked&apos;)</expression>
    </formulas>
    <interviewLabel>Study Rule (After Automation): PE Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Study Rule (After Automation): PE Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Completion_Status</name>
        <label>Update Completion Status</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rio_ed__Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completion_Status__c</field>
            <value>
                <elementReference>valueForCompletionTypeStudyRule</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Program_Enrollment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enrolment_Standing</name>
        <label>Update Enrolment Standing</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rio_ed__Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enrollment_Standing__c</field>
            <value>
                <elementReference>valueForProgressionTypeStudyRule</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Program_Enrollment__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Status</targetReference>
        </connector>
        <object>rio_ed__Study_Rule__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
</Flow>
