unpackaged/config/ready/15_Calls/flows/REDU_Term_Grade_Increment_Course_Connection_Attempt_Number.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>IncrementAttemptNumberFormula</name>
        <dataType>Number</dataType>
        <expression>{!Get_Course_Connection.rio_ed__Attempt_Number__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Term Grade Increment Course Connection Attempt Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Term Grade Increment Course Connection Attempt Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Course_Connection</name>
        <label>Get Course Connection</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increment_Course_Connection_Attempt_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Course_Connection__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Enrollment__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Increment_Course_Connection_Attempt_Number</name>
        <label>Increment Course Connection Attempt Number</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Course_Connection.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rio_ed__Attempt_Number__c</field>
            <value>
                <elementReference>IncrementAttemptNumberFormula</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Enrollment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Connection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Result__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Result__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </filters>
        <object>hed__Term_Grade__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
