unpackaged/config/ready/15_Calls/flows/REDU_Course_Connection_Call_Count_Max.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Course_Max_Calls_Set</name>
        <label>Course Max Calls Set?</label>
        <locationX>710</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Global_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Course_Max_Calls_Set_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Course_Offering__r.hed__Course__r.REDU_Max_Calls__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Course_Max_Calls</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Custom_Calls_All_Courses</name>
        <label>Has Custom Calls (All Courses)?</label>
        <locationX>512</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Course_Max_Calls_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Custom_Calls_All_Courses_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Calls_All_Courses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Call_Count_All_Courses</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Custom_Calls_for_Course</name>
        <label>Has Custom Calls for Course?</label>
        <locationX>281</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Custom_Calls_All_Courses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Custom_Calls_for_Course_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Calls_for_Course</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Call_Count_for_Course</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Course Connection Call Count Max {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Connection Call Count Max</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Calls_All_Courses</name>
        <label>Get Custom Calls (All Courses)</label>
        <locationX>512</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Custom_Calls_All_Courses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>REDU_Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>REDU_All_Courses__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>REDU_Custom_Calls__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Calls_for_Course</name>
        <label>Get Custom Calls for Course</label>
        <locationX>281</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Custom_Calls_for_Course</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>REDU_Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>REDU_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Course_Offering__r.hed__Course__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>REDU_Custom_Calls__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Course_Max_Calls</name>
        <label>Course Max Calls</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>REDU_Call_Count_Max__c</field>
            <value>
                <elementReference>$Record.hed__Course_Offering__r.hed__Course__r.REDU_Max_Calls__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Custom_Call_Count_All_Courses</name>
        <label>Custom Call Count (All Courses)</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>REDU_Call_Count_Max__c</field>
            <value>
                <elementReference>Get_Custom_Calls_All_Courses.REDU_Max_Calls__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Custom_Call_Count_for_Course</name>
        <label>Custom Call Count for Course</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>REDU_Call_Count_Max__c</field>
            <value>
                <elementReference>Get_Custom_Calls_for_Course.REDU_Max_Calls__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Global_Default</name>
        <label>Global Default</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>REDU_Call_Count_Max__c</field>
            <value>
                <elementReference>$Setup.rio_ed__RIO_Education_Settings__c.REDU_Max_Attempt_Numbers__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Calls_for_Course</targetReference>
        </connector>
        <object>hed__Course_Enrollment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
