unpackaged/config/ready/20_Housing_Application_Form/flows/REDU_Campus_Housing_Application.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Housing_Object_field_values</name>
        <label>Set Housing Object field values</label>
        <locationX>1449</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>obj_Housing.rio_edhouse__Student__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Student_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.rio_edhouse__Program_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_ProgramEnrollment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Convicted_of_a_Criminal_Offense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_ConvictedofaCriminalOffense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Allergies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_Allergies</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Staff_to_Be_Aware_Of__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_StafftoBeAwareOf</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Emergency_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_EmergencyContactName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Emergency_Contact_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_EmergencyContactRelationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Emergency_Contact_Primary_Phone_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_EmergencyContactPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Emergency_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_EmergencyContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Authorized_to_Contact_Parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_AuthorizedtoContactParentGuardian</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Year_of_Study__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_YearofStudy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Sleep_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_SleepPreference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Study_Timing_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_StudyTimingPreference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Living_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_LivingPreference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Socializing_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_SocializingPreference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Ref_1_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_Reference1ContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Ref_2_Employer_Ministry_Leader__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housingReference2EmployerMinistryLeader</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Ref_2_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_Ref2ContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Submitted_Info_is_True__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_SubmittedInfoIsTrue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Selections_are_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_SelectionsArePreference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Assignment_on_Deposit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_AssignmentOnDeposit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Full_Academic_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_FullAcademicYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Rights_to_Deny_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_RightsToDenyRequest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Housing_Agreement_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_HousingAgreementRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_Signature</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Details_of_Criminal_Offense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_DetailsofCriminalOffense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.rio_edhouse__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unallocated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.rio_edhouse__Arrival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_ArrivalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.rio_edhouse__Departure_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_DepartureDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.rio_edhouse__Campus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Campus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.rio_edhouse__Application_Submission_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Study_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>housing_StudyPreference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.redu_Ref_1_Family_Friend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reference_1_Family_friend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Housing.rio_edhouse__Building__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Desired_Building</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Housing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_1</name>
        <label>Set Stage 1</label>
        <locationX>840</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage1_Medical_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MEDICAL_INFORMATION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_2</name>
        <label>Set Stage 2</label>
        <locationX>955</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage2_Emergency_Contact_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EMERGENCY_CONTACT_INFORMATION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_3</name>
        <label>Set Stage 3</label>
        <locationX>1081</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage3_About_Me</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ABOUT_ME</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_4</name>
        <label>Set Stage 4</label>
        <locationX>1198</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage4_References</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>REFERENCES</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_5</name>
        <label>Set Stage 5</label>
        <locationX>1322</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage5_Application_Confirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>APPLICATION_CONFIRMATION</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>campusList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Location_RT_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Campus__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>facilityList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Default_Campus</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Facility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residence Building</stringValue>
            </value>
        </filters>
        <object>hed__Facility__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_housing_AuthorizedtoContactParentGuardian</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>redu_Authorized_to_Contact_Parent__c</picklistField>
        <picklistObject>rio_edhouse__Housing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_housing_ConvictedOfACriminalOffense</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>redu_Convicted_of_a_Criminal_Offense__c</picklistField>
        <picklistObject>rio_edhouse__Housing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_housing_LivingPreference</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>redu_Living_Preference__c</picklistField>
        <picklistObject>rio_edhouse__Housing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_housing_SleepPreference</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>redu_Sleep_Preference__c</picklistField>
        <picklistObject>rio_edhouse__Housing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_housing_SocializingPreference</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>redu_Socializing_Preference__c</picklistField>
        <picklistObject>rio_edhouse__Housing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_housing_StudyPreference</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>redu_Study_Preference__c</picklistField>
        <picklistObject>rio_edhouse__Housing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_housing_StudyTimingPreference</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>redu_Study_Timing_Preference__c</picklistField>
        <picklistObject>rio_edhouse__Housing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_housing_YearofStudy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>redu_Year_of_Study__c</picklistField>
        <picklistObject>rio_edhouse__Housing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProgramEnrollment</name>
        <dataType>String</dataType>
        <displayField>redu_Program_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Student_Contact.Id</elementReference>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputAssignments>
            <assignToReference>selected_ProgramEnrollmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordChoiceSet_PE</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Student_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Program_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordPicklist_Facilities</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Facility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Building</stringValue>
            </value>
        </filters>
        <object>hed__Facility__c</object>
        <outputAssignments>
            <assignToReference>selected_FacilityName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>currentContactId</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!contactId}), {!$User.ContactId}, {!contactId} )</expression>
    </formulas>
    <interviewLabel>REDU Campus Housing Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>REDU Campus Housing Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Housing_Record</name>
        <label>Create Housing Record</label>
        <locationX>1458</locationX>
        <locationY>246</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errors</targetReference>
        </faultConnector>
        <inputReference>obj_Housing</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Location_RT_Id</name>
        <label>Get Location RT Id</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campus_Housing_Application</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Location</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Student_Contact</name>
        <label>Student Contact</label>
        <locationX>776</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Location_RT_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ABOUT_ME</name>
        <label>ABOUT ME</label>
        <locationX>1144</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Stage_4</targetReference>
        </connector>
        <fields>
            <name>S4_Progress</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S4_Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(117, 116, 116); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;ABOUT ME&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>housing_YearofStudy</name>
            <choiceReferences>picklist_housing_YearofStudy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Year of Study:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Desired_Building</name>
            <choiceReferences>facilityList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Desired Building:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S4_Text2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The information below is used for placement and is an important part of making your transition to residence as successful as possible.&amp;nbsp;&lt;/span&gt;&lt;em style=&quot;color: rgb(51, 51, 51); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Note: All residences are smoke, drug and alcohol free.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>housing_SleepPreference</name>
            <choiceReferences>picklist_housing_SleepPreference</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I prefer to go to sleep:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>housing_StudyTimingPreference</name>
            <choiceReferences>picklist_housing_StudyTimingPreference</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I prefer to study:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>housing_StudyPreference</name>
            <choiceReferences>picklist_housing_StudyPreference</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I prefer to study:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>housing_LivingPreference</name>
            <choiceReferences>picklist_housing_LivingPreference</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I prefer to live in a:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>housing_SocializingPreference</name>
            <choiceReferences>picklist_housing_SocializingPreference</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I prefer to socialize:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S4_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>APPLICATION_CONFIRMATION</name>
        <label>APPLICATION CONFIRMATION</label>
        <locationX>1386</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Housing_Object_field_values</targetReference>
        </connector>
        <fields>
            <name>S6_Progress</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S6_Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(117, 116, 116); font-family: &amp;quot;Helvetica Arial&amp;quot;, sans-serif; font-size: 21px; background-color: rgb(255, 255, 255);&quot;&gt;APPLICATION CONFIRMATION&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an application only and not a guarantee of housing. Once you receive an offer of residence, it is your responsibility to pay a $400 residence deposit to hold your space. This fee is required your first year of residence only, it carries over year to year.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Costs: Please note that current housing costs are listed at http://www.rioeducation.com/services/tuition-fees/ All costs are subject to change annually as of July 1st.&lt;/p&gt;&lt;p&gt;Please indicate your agreement with the following:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>housing_SubmittedInfoIsTrue</name>
            <dataType>Boolean</dataType>
            <fieldText>All of the information submitted in this application is true to the best of my knowledge.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Acknowledge here.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!housing_SubmittedInfoIsTrue}==TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>housing_SelectionsArePreference</name>
            <dataType>Boolean</dataType>
            <fieldText>I understand that all selections I have made are preferences only and that there are no guarantees of room or roommate selection.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Acknowledge here.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!housing_SelectionsArePreference}==TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>housing_AssignmentOnDeposit</name>
            <dataType>Boolean</dataType>
            <fieldText>I understand that I will not be assigned a room until I have submitted my $400 residence deposit (first year in residence only).</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Acknowledge here.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!housing_AssignmentOnDeposit}==TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>housing_FullAcademicYear</name>
            <dataType>Boolean</dataType>
            <fieldText>This application is for the full academic year (both fall and winter semesters). Dates are noted within the Academic Calendar.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Acknowledge here.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!housing_FullAcademicYear}==TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>housing_RightsToDenyRequest</name>
            <dataType>Boolean</dataType>
            <fieldText>RIO Education reserves the right to deny a request of residency without explanation.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Acknowledge here.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!housing_RightsToDenyRequest}==TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>housing_HousingAgreementRequired</name>
            <dataType>Boolean</dataType>
            <fieldText>A Housing Agreement will be required upon offer of residence. This will indicate your agreement to abide by all residence expectations outlined in the Residence Life Handbook.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Acknowledge here.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!housing_HousingAgreementRequired}==TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>S6_Text2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;Please type your name and date below. Entering your name here indicates your agreement with the information submitted above:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>housing_Signature</name>
            <dataType>String</dataType>
            <fieldText>Signature:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>housing_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S6_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Campus_Housing_Application</name>
        <label>Campus Housing Application</label>
        <locationX>778</locationX>
        <locationY>445</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_1</targetReference>
        </connector>
        <fields>
            <name>S1_Progress</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S1_Text1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;Please note:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;RIO Education Students are required to apply each year of their academic studies for residence.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;If you have general questions about on campus housing or about the residence application process, please email the Office of Housing and Campus Life (&lt;/span&gt;&lt;a href=&quot;mailto:vtest@riouniversity.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;vtest@riouniversity.com&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;All information submitted on this application is confidential.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Default_Campus</name>
            <choiceReferences>campusList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Default Campus:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>housing_ArrivalDate</name>
            <dataType>Date</dataType>
            <fieldText>Arrival Date:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>housing_DepartureDate</name>
            <dataType>Date</dataType>
            <fieldText>Departure Date:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>housing_ProgramEnrollment</name>
            <choiceReferences>ProgramEnrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program Enrollment:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S1_Text2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(117, 116, 116);&quot;&gt;APPLICANT INFORMATION&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;Last Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;{!Student_Contact.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;First Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;{!Student_Contact.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;Home Address - Street:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;{!Student_Contact.MailingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;City/town:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;{!Student_Contact.MailingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;Province/State:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;{!Student_Contact.MailingState}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;Postal/ZIP Code:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;{!Student_Contact.MailingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;Personal Cell Phone:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;{!Student_Contact.MobilePhone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;Email:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;{!Student_Contact.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;Student #:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;{!Student_Contact.rio_ed__Student_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;Date of Birth:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;{!Student_Contact.Birthdate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;Gender:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;{!Student_Contact.hed__Gender__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>housing_ConvictedofaCriminalOffense</name>
            <choiceReferences>picklist_housing_ConvictedOfACriminalOffense</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you ever been convicted of a criminal offense?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>housing_DetailsofCriminalOffense</name>
            <fieldText>If yes, provide details here:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Opps! Too many characters, please try shortening your description to 5000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(LEN({!housing_DetailsofCriminalOffense}) &lt;= 5000, true, false)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>housing_ConvictedofaCriminalOffense</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S1_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EMERGENCY_CONTACT_INFORMATION</name>
        <label>EMERGENCY CONTACT INFORMATION</label>
        <locationX>1014</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Stage_3</targetReference>
        </connector>
        <fields>
            <name>S3_Progress</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S3_Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(117, 116, 116); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;EMERGENCY CONTACT INFORMATION&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿Please provide us with the information of someone we could contact in case of an emergency relating to your health or well-being while staying in residence.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>housing_EmergencyContactName</name>
            <dataType>String</dataType>
            <fieldText>Name:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>housing_EmergencyContactRelationship</name>
            <dataType>String</dataType>
            <fieldText>Relationship:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>housing_EmergencyContactPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Phone number:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>obj_Housing.redu_Emergency_Contact_Primary_Phone_No__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>housing_EmergencyContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>obj_Housing.redu_Emergency_Contact_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>housing_AuthorizedtoContactParentGuardian</name>
            <choiceReferences>picklist_housing_AuthorizedtoContactParentGuardian</choiceReferences>
            <dataType>String</dataType>
            <fieldText>In the event of an emergency, Rio Education is authorized to contact my parent/guardian.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S3_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Errors</name>
        <label>Errors</label>
        <locationX>1178</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message_DML</name>
            <fieldText>&lt;p&gt;Oops! Something went wrong. Please try again or contact Office of Housing and Campus Life for assistance.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Error Message: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MEDICAL_INFORMATION</name>
        <label>MEDICAL INFORMATION</label>
        <locationX>897</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Stage_2</targetReference>
        </connector>
        <fields>
            <name>S2_Progress</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S2_Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(117, 116, 116);&quot;&gt;MEDICAL INFORMATION﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>housing_Allergies</name>
            <dataType>String</dataType>
            <fieldText>Allergies:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Opps! Too many characters, please try shortening your description to 5000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(LEN({!housing_Allergies}) &lt;= 5000, true, false)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>housing_StafftoBeAwareOf</name>
            <dataType>String</dataType>
            <fieldText>Please list any information you would like our staff to be aware of:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Opps! Too many characters, please try shortening your description to 5000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(LEN({!housing_StafftoBeAwareOf}) &lt;= 5000, true, false)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>S2_Text2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;For the safety and security of all of our residents, it is a requirement that the student be able to manage his or her medical condition in order to remain in residence.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S2_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>REFERENCES</name>
        <label>REFERENCES</label>
        <locationX>1258</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Stage_5</targetReference>
        </connector>
        <fields>
            <name>S5_Progress</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S5_Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(117, 116, 116);&quot;&gt;REFERENCES&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;﻿Please list two references you would authorize RIO Education to contact regarding suitability for on campus housing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reference_1_Family_friend</name>
            <dataType>String</dataType>
            <fieldText>Reference #1 - Family/friend:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>housing_Reference1ContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reference #1 contact email:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>input_Reference_1_contact_emailv2</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>housingReference2EmployerMinistryLeader</name>
            <dataType>String</dataType>
            <fieldText>Reference #2 - Employer/Ministry Leader:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>housing_Ref2ContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>input_Reference_2_contact_emailv2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reference #2 contact email:</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>S5_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>1668</locationX>
        <locationY>295</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYou_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Thank You!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your Campus Housing Application has been submitted.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S7_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Stage0_Applicant_Information</name>
        <isActive>true</isActive>
        <label>Applicant Information</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Stage1_Medical_Information</name>
        <isActive>true</isActive>
        <label>Medical Information</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Stage2_Emergency_Contact_Information</name>
        <isActive>true</isActive>
        <label>Emergency Contact Information</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Stage3_About_Me</name>
        <isActive>true</isActive>
        <label>About Me</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Stage4_References</name>
        <isActive>true</isActive>
        <label>References</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>Stage5_Application_Confirmation</name>
        <isActive>true</isActive>
        <label>Application Confirmation</label>
        <stageOrder>70</stageOrder>
    </stages>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Student_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultCampusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_Reference_1_contact_emailv2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_Reference_2_contact_emailv2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>obj_Housing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rio_edhouse__Housing__c</objectType>
    </variables>
    <variables>
        <name>selected_FacilityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_ProgramEnrollmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
