unpackaged/config/ready/Refund/flows/REDU_Refund_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <formulas>
        <name>Calculated_Refund</name>
        <dataType>Currency</dataType>
        <expression>{!Total_Amount}*({!Percentage}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Calculated_Refund_2</name>
        <dataType>Currency</dataType>
        <expression>-{!Calculated_Refund}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Fee_Description</name>
        <dataType>String</dataType>
        <expression>&apos;Refund on tuition fees&apos;</expression>
    </formulas>
    <interviewLabel>Refund Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>REDU Refund Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Refund</name>
        <label>Create Refund</label>
        <locationX>878</locationX>
        <locationY>118</locationY>
        <inputAssignments>
            <field>rio_ed__Other_Amount__c</field>
            <value>
                <elementReference>Calculated_Refund_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Other_Description__c</field>
            <value>
                <elementReference>Fee_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Skip_Funding_Allocation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Student_Fee__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>rio_ed__Fee_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_StudentFee</name>
        <label>Get_StudentFee</label>
        <locationX>267</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refund_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rio_ed__Student_Fee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Refund_Confirmation</name>
        <label>Refund Confirmation</label>
        <locationX>695</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Refund</targetReference>
        </connector>
        <fields>
            <name>Refund_Confirmation_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The total refund for this student is:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!Calculated_Refund}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Label</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Click confirm to proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Refund_Confirmation_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Confirm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishButtonLabel</name>
                <value>
                    <stringValue>Confirm</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Refund_Input</name>
        <label>Refund Input</label>
        <locationX>551</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refund_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Refund_Outstanding</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 24px; color: rgb(0, 0, 0);&quot;&gt;Refund&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Total_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_StudentFee.rio_ed__Total_Fee__c</elementReference>
            </defaultValue>
            <fieldText>Total Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Percentage</name>
            <dataType>Number</dataType>
            <fieldText>Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Refund_Input_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>141</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_StudentFee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
