unpackaged/config/ready/12_StudentRequest/flows/Redu_Student_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Appeal_of_Result</name>
        <label>Assign Appeal of Result</label>
        <locationX>1171</locationX>
        <locationY>1169</locationY>
        <assignmentItems>
            <assignToReference>obj_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case_FullSubject_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppealofResult_Description_TT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.redu_Related_Program_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selected_ProgramEnrollmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.redu_Related_Course_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appeal_Course</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Appeal_of_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_for_RPL</name>
        <label>Assign Application for RPL</label>
        <locationX>1241</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>obj_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case_FullSubject_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RPL_Description_TT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.redu_Related_Program_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RPL_Program_of_Study</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.redu_Related_Course_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RPL_Course</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application_for_RPL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approved_Absence</name>
        <label>Assign Approved Absence</label>
        <locationX>1039</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>obj_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case_FullSubject_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovedAbsence_Description_TT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.redu_Related_Program_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovedAbsence_Program_Enrolled</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Approved_Absence_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Basic_Info</name>
        <label>Assign Case Basic Info</label>
        <locationX>564</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>obj_Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StudentRequestQueue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType_Info.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Request</name>
        <label>Assign Document Request</label>
        <locationX>1177</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>obj_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case_FullSubject_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocRequest_Description_TT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Document_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Enrollment_of_Variation</name>
        <label>Assign Enrollment of Variation</label>
        <locationX>1263</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>obj_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case_FullSubject_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Variation_Description_TT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.redu_Type_of_Variation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Variation_Type_of_Variation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.redu_Related_Program_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selected_ProgramEnrollmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.redu_Related_Course_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Variation_Course</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Variation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Extension_of_Assessment</name>
        <label>Assign Extension of Assessment</label>
        <locationX>1231</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>obj_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case_FullSubject_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExtensionofAssessment_Description_TT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.redu_Related_Program_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExtensionofAssessment_Program_of_Study</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.redu_Related_Course_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExtensionofAssessment_Course_Enrolled</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Extension_of_Assessment_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Grievance</name>
        <label>Assign_Grievance</label>
        <locationX>971</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>obj_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case_FullSubject_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grievance_Description_TT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Grievance_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Special_Consideration</name>
        <label>Assign Special Consideration</label>
        <locationX>1281</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>obj_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case_FullSubject_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SpecialConsideration_Description_TT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.redu_Related_Program_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SpecialConsideration_Program_of_Study</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.redu_Related_Course_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SpecialConsideration_Course</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Special_Consideration</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Academic Grievance</description>
        <name>choice_Grievance_AcademicGrievance</name>
        <choiceText>Academic Grievance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Academic Grievance</stringValue>
        </value>
    </choices>
    <choices>
        <description>Generic Grievance</description>
        <name>choice_Grievance_GenericGrievance</name>
        <choiceText>Generic Grievance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generic Grievance</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveType_Accident</name>
        <choiceText>Accident</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accident</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveType_Bereavement</name>
        <choiceText>Bereavement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bereavement</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveType_Compassionate</name>
        <choiceText>Compassionate Circumstances</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compassionate Circumstances</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveType_CulturalCommitment</name>
        <choiceText>A Cultural Commitment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A Cultural Commitment</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveType_Illness</name>
        <choiceText>Illness or Temporary Disability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Illness or Temporary Disability</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveType_IndustryOpportunity</name>
        <choiceText>A Significant Performance or Industry Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A Significant Performance or Industry Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveType_NaturalDisaster</name>
        <choiceText>Natural Disaster</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Natural Disaster</stringValue>
        </value>
    </choices>
    <constants>
        <description>Default Student Queue ID</description>
        <name>StudentRequestQueue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G5j000000ze89</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Form_Type</name>
        <label>Form Type</label>
        <locationX>673</locationX>
        <locationY>609</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Form_Type_Grievance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_form</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grievance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grievance</targetReference>
            </connector>
            <label>Grievance</label>
        </rules>
        <rules>
            <name>Form_Type_Request_for_Approved_Absence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_form</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request for Approved Absence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_for_Approved_Absence</targetReference>
            </connector>
            <label>Request for Approved Absence</label>
        </rules>
        <rules>
            <name>Form_Type_Extension_of_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_form</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extension of Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extension_of_Assessment_Program</targetReference>
            </connector>
            <label>Extension of Assessment</label>
        </rules>
        <rules>
            <name>Form_Type_Application_for_RPL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_form</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application for RPL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_for_RPL_Program</targetReference>
            </connector>
            <label>Application for RPL</label>
        </rules>
        <rules>
            <name>Form_Type_Special_Consideration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_form</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Special Consideration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Special_Consideration_Program</targetReference>
            </connector>
            <label>Special Consideration</label>
        </rules>
        <rules>
            <name>Form_Type_Variation_of_Enrolment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_form</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Variation of Enrolment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variation_of_Enrolment_Program</targetReference>
            </connector>
            <label>Variation of Enrolment</label>
        </rules>
        <rules>
            <name>Form_Type_Appeal_of_Results</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_form</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal of Results</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appeal_of_Results_Program</targetReference>
            </connector>
            <label>Appeal of Results</label>
        </rules>
        <rules>
            <name>Form_Type_Documentation_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_form</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documentation Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Documentation_Request</targetReference>
            </connector>
            <label>Documentation Request</label>
        </rules>
        <rules>
            <name>Form_Type_Credit_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_form</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Transfer</targetReference>
            </connector>
            <label>Credit Transfer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>picklist_case_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_case_TypeOfVariation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>redu_Type_of_Variation__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordPicklist_CourseEnrollment</name>
        <dataType>String</dataType>
        <displayField>rio_ed__Target_Course_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selected_ProgramEnrollmentId</elementReference>
            </value>
        </filters>
        <object>hed__Course_Enrollment__c</object>
        <outputAssignments>
            <assignToReference>selected_CourseName</assignToReference>
            <field>rio_ed__Target_Course_Name__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordPicklist_Program</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Academic_RecordTypeID_F</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>selected_ProgramName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordPicklist_ProgramEnrollment</name>
        <dataType>String</dataType>
        <displayField>redu_Program_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContactId</elementReference>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputAssignments>
            <assignToReference>selected_ProgramEnrollmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selected_ProgramName</assignToReference>
            <field>redu_Program_Name__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Academic_RecordTypeID_F</name>
        <dataType>String</dataType>
        <expression>{!$Setup.rio_ed__RIO_Education_Settings__c.rio_ed__Academic_Program_Account_Record_Type__c}</expression>
    </formulas>
    <formulas>
        <name>case_FullSubject_F</name>
        <dataType>String</dataType>
        <expression>{!Get_Student_Info.FirstName} + &apos; &apos; + {!Get_Student_Info.LastName} + &apos; - &apos; + {!case_SubjectType_F}</expression>
    </formulas>
    <formulas>
        <name>case_SubjectType_F</name>
        <dataType>String</dataType>
        <expression>IF(
	{!Please_select_a_form} = &apos;Grievance&apos;,
	{!Grievance_Type},
	IF(
		{!Please_select_a_form} = &apos;&apos;,
		&apos;&apos;,
		{!Please_select_a_form}
	)
)</expression>
    </formulas>
    <formulas>
        <name>currentContactId</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!contactId}), {!$User.ContactId}, {!contactId} )</expression>
    </formulas>
    <interviewLabel>Redu_Student Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>REDU Student Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Appeal_of_Result</name>
        <label>Create Appeal of Result</label>
        <locationX>1386</locationX>
        <locationY>1169</locationY>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <inputReference>obj_Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_for_RPL</name>
        <label>Create Application for RPL</label>
        <locationX>1378</locationX>
        <locationY>615</locationY>
        <connector>
            <targetReference>Application_for_RPL_File_Upload</targetReference>
        </connector>
        <inputReference>obj_Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Approved_Absence_Case</name>
        <label>Create Approved Absence Case</label>
        <locationX>1211</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <inputReference>obj_Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Document_Request</name>
        <label>Create Document Request</label>
        <locationX>1523</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <inputReference>obj_Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Extension_of_Assessment_Case</name>
        <label>Create Extension of Assessment Case</label>
        <locationX>1362</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <inputReference>obj_Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Grievance_Case</name>
        <label>Create_Grievance_Case</label>
        <locationX>1106</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Grievance_File_Upload</targetReference>
        </connector>
        <inputReference>obj_Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Special_Consideration</name>
        <label>Create Special Consideration</label>
        <locationX>1408</locationX>
        <locationY>793</locationY>
        <connector>
            <targetReference>Special_Consideration_File_Upload</targetReference>
        </connector>
        <inputReference>obj_Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Variation</name>
        <label>Create Variation</label>
        <locationX>1418</locationX>
        <locationY>1014</locationY>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <inputReference>obj_Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_RecordType_Info</name>
        <label>Get RecordType Info</label>
        <locationX>312</locationX>
        <locationY>607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Basic_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Student_Info</name>
        <label>Get Student Info</label>
        <locationX>172</locationX>
        <locationY>481</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Appeal_of_Result_Course</name>
        <label>Appeal of Result (Course)</label>
        <locationX>1017</locationX>
        <locationY>1169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Appeal_of_Result</targetReference>
        </connector>
        <fields>
            <name>Appeal_of_Results_Header2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Appeal of Results&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Appeal_Course</name>
            <choiceReferences>recordPicklist_CourseEnrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Course</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appeal_Examination_or_Assignment_Title</name>
            <dataType>String</dataType>
            <fieldText>Examination or Assignment Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appeal_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appeal_of_Results_Footer2</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Appeal_of_Results_Program</name>
        <label>Appeal of Results (Program)</label>
        <locationX>870</locationX>
        <locationY>1169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Appeal_of_Result_Course</targetReference>
        </connector>
        <fields>
            <name>Appeal_of_Results_Instruction</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Appeal of Results&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter the details of the Appeal&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Appeal_Program_of_Study</name>
            <choiceReferences>recordPicklist_ProgramEnrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program of Study</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appeal_of_Results_Footer1</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Application_for_RPL_Course</name>
        <label>Application for RPL (Course)</label>
        <locationX>1097</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Application_for_RPL</targetReference>
        </connector>
        <fields>
            <name>Application_for_RPL_Header2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Application for RPL&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RPL_Course</name>
            <choiceReferences>recordPicklist_CourseEnrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Course</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RPL_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Application_for_RPL_Footer2</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Application_for_RPL_File_Upload</name>
        <label>Application for RPL File Upload</label>
        <locationX>1528</locationX>
        <locationY>615</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <fields>
            <name>Application_for_RPL_Header3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Application for RPL&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RPL_File_Upload</name>
            <extensionName>rio_ed:CustomFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>obj_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>instantUpload</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>RPL supporting documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>acceptedSFFileType</name>
                <value>
                    <stringValue>.docx, .pdf, .ppt, .pptx, .xls, .xlsx, .txt, .pdf, .jpg, .jpeg, .png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>uploadAs</name>
                <value>
                    <stringValue>Salesforce Files</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Application_for_RPL_Footer3</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Application_for_RPL_Program</name>
        <label>Application for RPL (Program)</label>
        <locationX>966</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Application_for_RPL_Course</targetReference>
        </connector>
        <fields>
            <name>Application_for_RPL_Header1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Application for RPL&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RPL_Program_of_Study</name>
            <choiceReferences>recordPicklist_ProgramEnrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program of Study</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Application_for_RPL_Footer1</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Details</name>
        <label>Case Details</label>
        <locationX>173</locationX>
        <locationY>607</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_RecordType_Info</targetReference>
        </connector>
        <fields>
            <name>Please_select_a_form</name>
            <choiceReferences>picklist_case_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a form:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Credit_Transfer</name>
        <label>Credit Transfer</label>
        <locationX>717</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Credit_Transfer_Component</targetReference>
        </connector>
        <fields>
            <name>Credit_Transfer_Header1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Credit Transfer&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Program_of_Study</name>
            <choiceReferences>recordPicklist_ProgramEnrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program of Study</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Credit_Transfer_Footer1</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Credit_Transfer_Component</name>
        <label>Credit Transfer Component</label>
        <locationX>1097</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <fields>
            <name>Credit_Transfer_Footer2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Credit Transfer&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Credit_Transfer_Table</name>
            <extensionName>c:reduTransferCreditList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>applicationId</name>
                <value>
                    <elementReference>selected_ProgramEnrollmentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCreateNew</name>
                <value>
                    <stringValue>true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showDefaultCourseList</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showDefaultInstituteList</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>componentIcon</name>
                <value>
                    <stringValue>standard:product_request_line_item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldListString</name>
                <value>
                    <stringValue>rio_ed__Transfer_Course__r.rio_ed__Agreement__r.Name, rio_ed__Transfer_Course__r.rio_ed__Transfer_Course_ID__c, rio_ed__Transfer_Course__r.rio_ed__Transfer_Course_Title__c, rio_ed__Credits_Attempted__c, rio_ed__Credits_Earned__c, rio_ed__Grade__c, rio_ed__Completed_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowCreateAgreementCourse</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowCreateAgreement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>componentIconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>courseIconName</name>
                <value>
                    <stringValue>utility:text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabelString</name>
                <value>
                    <stringValue>Institute,</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>instituteIconName</name>
                <value>
                    <stringValue>utility:company</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createNewLabel</name>
                <value>
                    <stringValue>New</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfLookupCourses</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfLookupInstitutes</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>componentLabel</name>
                <value>
                    <stringValue>Transfer Credits</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>instituteLabel</name>
                <value>
                    <stringValue>Institute</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Credit_Transfer_Footer3</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Documentation_Request</name>
        <label>Documentation Request</label>
        <locationX>794</locationX>
        <locationY>1308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Document_Request</targetReference>
        </connector>
        <fields>
            <name>Documentation_Request_Instruction</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Documentation Request&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter the details of the request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DocRequest_Program_of_Study</name>
            <choiceReferences>recordPicklist_ProgramEnrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program of Study</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DocRequest_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Documentation_Request_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Extension_of_Assessment_Course</name>
        <label>Extension of Assessment (Course)</label>
        <locationX>1102</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Extension_of_Assessment</targetReference>
        </connector>
        <fields>
            <name>Extension_of_Assessment_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Extension of Assessment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExtensionofAssessment_Course_Enrolled</name>
            <choiceReferences>recordPicklist_CourseEnrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Course Enrolled</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ExtensionofAssessment_Examination_or_Assignment_Title</name>
            <dataType>String</dataType>
            <fieldText>Examination or Assignment Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ExtensionofAssessment_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Extension_of_Assessment_Footer2</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Extension_of_Assessment_Program</name>
        <label>Extension of Assessment (Program)</label>
        <locationX>981</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Extension_of_Assessment_Course</targetReference>
        </connector>
        <fields>
            <name>Extension_of_Assessment_Instruction</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Extension of Assessment&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter the details of the request&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExtensionofAssessment_Program_of_Study</name>
            <choiceReferences>recordPicklist_ProgramEnrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program of Study</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Extension_of_Assessment_Footer1</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Grievance</name>
        <label>Grievance</label>
        <locationX>846</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Grievance</targetReference>
        </connector>
        <fields>
            <name>Grievance_Instruction</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Grievance&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A grievance or complaint may be made against any of this Institutions decisions, actions or processes that may include concerns over such matters as:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;i&gt;Application procedures, including education agents&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Student eligibility for entry to specific courses of study •Advanced standing involving unit exemptions&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Discrimination&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Exclusion from events and facilities&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Financial matters&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Fines and payments&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Harassment&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Health and safety management&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Management of personal information&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Vilification&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Student progress decisions involving probation, suspension or cancellation of enrolment&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Completion of designated awards in a course of study&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Any academic decision made by a member of academic staff that is seen to unfairly privilege or compromise, or adversely affect the learning opportunity or achievement of outcomes for an individual student or group of students&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;The nature of teaching delivery, learning resources or student support&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;The content, structure or status of an academic unit or program.&amp;nbsp;&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Grievance_Type</name>
            <choiceReferences>choice_Grievance_AcademicGrievance</choiceReferences>
            <choiceReferences>choice_Grievance_GenericGrievance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Grievance</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grievance_Program</name>
            <choiceReferences>recordPicklist_Program</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program of Study (If enrolled)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Grievance_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grievance_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Grievance_File_Upload</name>
        <label>Grievance_File_Upload</label>
        <locationX>1248</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <fields>
            <name>Grievance_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Grievance&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Grievance_File_Upload_1</name>
            <extensionName>rio_ed:CustomFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>obj_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>acceptedSFFileType</name>
                <value>
                    <stringValue>.docx, .pdf, .ppt, .pptx, .xls, .xlsx, .txt, .pdf, .jpg, .jpeg, .png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>uploadAs</name>
                <value>
                    <stringValue>Salesforce Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Upload Supporting Documentation (If any)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>instantUpload</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Grievance_Footer2</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_for_Approved_Absence</name>
        <label>Request for Approved Absence</label>
        <locationX>909</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Approved_Absence</targetReference>
        </connector>
        <fields>
            <name>ApprovedAbsence_Instruction</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Request for Approved Absence&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter the details of the leave of absence that you are requesting.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApprovedAbsence_Program_Enrolled</name>
            <choiceReferences>recordPicklist_ProgramEnrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program Enrolled</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ApprovedAbsence_Type_of_Leave</name>
            <choiceReferences>choice_LeaveType_Illness</choiceReferences>
            <choiceReferences>choice_LeaveType_Accident</choiceReferences>
            <choiceReferences>choice_LeaveType_CulturalCommitment</choiceReferences>
            <choiceReferences>choice_LeaveType_IndustryOpportunity</choiceReferences>
            <choiceReferences>choice_LeaveType_Bereavement</choiceReferences>
            <choiceReferences>choice_LeaveType_Compassionate</choiceReferences>
            <choiceReferences>choice_LeaveType_NaturalDisaster</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Leave</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ApprovedAbsence_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ApprovedAbsence_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ApprovedAbsence_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ApprovedAbsence_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Special_Consideration_Course</name>
        <label>Special Consideration (Course)</label>
        <locationX>1145</locationX>
        <locationY>793</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Special_Consideration</targetReference>
        </connector>
        <fields>
            <name>Special_Consideration_Header2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Special Consideration&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpecialConsideration_Course</name>
            <choiceReferences>recordPicklist_CourseEnrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Course</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SpecialConsideration_Examination_or_Assignment_Title</name>
            <dataType>String</dataType>
            <fieldText>Examination or Assignment Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SpecialConsideration_Description</name>
            <fieldText>Reason for Special Consideration</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Special_Consideration_Footer2</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Special_Consideration_File_Upload</name>
        <label>Special Consideration File Upload</label>
        <locationX>1550</locationX>
        <locationY>793</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <fields>
            <name>Special_Consideration_Header3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Special Consideration&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpecialConsideration_File_Upload</name>
            <extensionName>rio_ed:CustomFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>obj_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>instantUpload</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>acceptedSFFileType</name>
                <value>
                    <stringValue>.docx, .pdf, .ppt, .pptx, .xls, .xlsx, .txt, .pdf, .jpg, .jpeg, .png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>uploadAs</name>
                <value>
                    <stringValue>Salesforce Files</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Special_Consideration_Footer3</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Special_Consideration_Program</name>
        <label>Special Consideration (Program)</label>
        <locationX>1006</locationX>
        <locationY>793</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Special_Consideration_Course</targetReference>
        </connector>
        <fields>
            <name>Special_Consideration_Instruction</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Special Consideration&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Special consideration is the process by which the assessor/lecturer takes unexpected or extenuating circumstances into consideration during the marking of an assessment (including examination) item. Unexpected or extenuating circumstances are those which were outside the control of the student such as illness. To apply for special consideration, students must complete the Application for Special Consideration form, ensuring all supporting documentation is attached. No application will be considered without supporting documents. Special consideration:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Is only applicable when an assessment has been attempted&lt;/li&gt;&lt;li&gt;Will only be granted due to unexpected or extenuating circumstances&lt;/li&gt;&lt;li&gt;Is not automatically granted and may not necessarily result in a study or mark adjustment. All applications are considered in accordance with the Assessment Policy and Procedures.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpecialConsideration_Program_of_Study</name>
            <choiceReferences>recordPicklist_ProgramEnrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program of Study</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Special_Consideration_Footer1</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThankYou</name>
        <label>ThankYou</label>
        <locationX>2066</locationX>
        <locationY>896</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYou_Msg</name>
            <fieldText>&lt;p&gt;Thank you for opening this case with our support team!&lt;/p&gt;&lt;p&gt;We will respond to you as soon as possible.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Variation_of_Enrollment_Course</name>
        <label>Variation of Enrollment (Course)</label>
        <locationX>1108</locationX>
        <locationY>1014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Enrollment_of_Variation</targetReference>
        </connector>
        <fields>
            <name>Variation_of_Enrolment_Header2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Variation of Enrolment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Variation_Course</name>
            <choiceReferences>recordPicklist_CourseEnrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Course</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>picklist_case_TypeOfVariation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Withdraw from Course</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Variation_Type_of_Variation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Course Change</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Variation_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Variation_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Variation_Reason_for_Variation</name>
            <fieldText>Reason for Variation</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Variation_of_Enrolment_Footer2</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Variation_of_Enrolment_Program</name>
        <label>Variation of Enrolment (Program)</label>
        <locationX>939</locationX>
        <locationY>1014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Variation_of_Enrollment_Course</targetReference>
        </connector>
        <fields>
            <name>Variation_of_Enrolment_Header1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Variation of Enrolment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Variation_Type_of_Variation</name>
            <choiceReferences>picklist_case_TypeOfVariation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of variation are you requesting?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Variation_Porgram_of_Study</name>
            <choiceReferences>recordPicklist_ProgramEnrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Porgram of Study</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Variation_of_Enrolment_Footer1</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>Get_Student_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AppealofResult_Description_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Program of Study: {!selected_ProgramName}
Course Enrolled: {!selected_CourseName}
Examination or Assignment Title: {!Appeal_Examination_or_Assignment_Title}
Description: {!Appeal_Description}</text>
    </textTemplates>
    <textTemplates>
        <name>ApprovedAbsence_Description_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Program of Study: {!selected_ProgramName}
Type of Leave: {!ApprovedAbsence_Type_of_Leave}
Start Date: {!ApprovedAbsence_Start_Date}
End Date: {!ApprovedAbsence_End_Date}
Description: {!ApprovedAbsence_Description}</text>
    </textTemplates>
    <textTemplates>
        <name>DocRequest_Description_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Program of Study: {!selected_ProgramName}
Description: {!DocRequest_Description}</text>
    </textTemplates>
    <textTemplates>
        <name>ExtensionofAssessment_Description_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Program of Study: {!selected_ProgramName}
Course Enrolled: {!selected_CourseName}
Examination or Assignment Title: {!ExtensionofAssessment_Examination_or_Assignment_Title}
Description: {!ExtensionofAssessment_Description}</text>
    </textTemplates>
    <textTemplates>
        <name>Grievance_Description_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Program of Study: {!selected_ProgramName}
Grievance/Complaint Type: {!Grievance_Type}
Description: {!Grievance_Description}</text>
    </textTemplates>
    <textTemplates>
        <name>newLine</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;br&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RPL_Description_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Program of Study: {!selected_ProgramName}
Course: {!selected_CourseName}
Description: {!RPL_Description}</text>
    </textTemplates>
    <textTemplates>
        <name>SpecialConsideration_Description_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Program of Study: {!selected_ProgramName}
Course: {!selected_CourseName}
Examination or Assignment Title: {!SpecialConsideration_Examination_or_Assignment_Title}
Reason for Special Consideration: {!SpecialConsideration_Description}</text>
    </textTemplates>
    <textTemplates>
        <name>Variation_Description_TT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Type of Variation: {!Variation_Type_of_Variation}
Program of Study: {!selected_ProgramName}
Course: {!selected_CourseName}
Start Date: {!Variation_Start_Date}
End Date: {!Variation_End_Date}
Reason for Variation: {!Variation_Reason_for_Variation}</text>
    </textTemplates>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>obj_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>selected_CourseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_ProgramEnrollmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_ProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
