unpackaged/ready/ProgramApplication/flows/REDU_Program_Application.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Ed_Histories</name>
        <label>Add_Ed_Histories</label>
        <locationX>1490</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>ObjectList_EducationalQualification</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Object_EducationalQualification</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Add_More</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Ed_History_DML</name>
        <label>Add Ed History DML</label>
        <locationX>2094</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>ObjectList_EducationalQualification_DML</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Object_EducationalQualification</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ed_Histories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set contact variables from contact</description>
        <name>Init_Contact_Var</name>
        <label>Init Contact Var</label>
        <locationX>501</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>input_firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input_lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input_mobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object_Contact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input_phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object_Contact.HomePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input_birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object_Contact.Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input_communityUsernamePrefix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object_Contact.rio_ed__Community_Username_Prefix__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Obj</name>
        <label>Set Contact Obj</label>
        <locationX>1507</locationX>
        <locationY>783</locationY>
        <assignmentItems>
            <assignToReference>Object_Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_mobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Contact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Contact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BirthDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Contact.rio_ed__Community_Username_Prefix__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactCommunityUsernamePrefix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_New_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Ed_History</name>
        <label>Set Ed History</label>
        <locationX>1360</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>Object_EducationalQualification.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Qualification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_EducationalQualification.rio_ed__Academic_Institution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchoolInstitution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_EducationalQualification.rio_ed__Study_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EQ_StudyMode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_EducationalQualification.rio_ed__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_EducationalQualification.rio_ed__Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompletionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_EducationalQualification.rio_ed__Completion_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompletionStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_EducationalQualification.rio_ed__GPA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultGrade</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ed_Histories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Ed_History_Info</name>
        <label>Set Ed History Info</label>
        <locationX>1929</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>Object_EducationalQualification.rio_ed__Program_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object_ProgramApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_EducationalQualification.rio_ed__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ed_History_DML</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PA_Obj</name>
        <label>Set PA Obj</label>
        <locationX>1912</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>Object_ProgramApplication.rio_ed__Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>redu_SelectedProgramId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_ProgramApplication.rio_ed__Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Object_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_ProgramApplication.rio_ed__Fee_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_feeType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_ProgramApplication.rio_ed__Fee_Type_Option__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_feeTypeOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_ProgramApplication.rio_ed__Starting_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartingTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_ProgramApplication.rio_ed__Start_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PA_StartingMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_ProgramApplication.rio_ed__Start_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PA_StartingYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_ProgramApplication.rio_ed__Study_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PA_StudyMode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_ProgramApplication.rio_ed__Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentLeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_ProgramApplication.rio_ed__Program_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>redu_SelectedProgramOfferingId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PA_Status</name>
        <label>Set PA Status</label>
        <locationX>2482</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>Object_ProgramApplication.rio_ed__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Step_2</name>
        <label>Set Step 2</label>
        <locationX>650</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Step_3</name>
        <label>Set Step 3</label>
        <locationX>1086</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Education_History</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Educational_History_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Step_4</name>
        <label>Set Step 4</label>
        <locationX>1360</locationX>
        <locationY>783</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supporting_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Contact_Obj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Step_5</name>
        <label>Set Step 5</label>
        <locationX>2720</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submitted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Constant_ProgramOffering</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Program Offering</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_Add_More</name>
        <label>Add more?</label>
        <locationX>1352</locationX>
        <locationY>627</locationY>
        <defaultConnector>
            <targetReference>Set_Step_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Add_More_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_add_more</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Educational_History_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_contactId</name>
        <label>Has contactId</label>
        <locationX>344</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Form_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_contactId_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_Ed_History</name>
        <label>Has Ed History?</label>
        <locationX>929</locationX>
        <locationY>583</locationY>
        <defaultConnector>
            <targetReference>Set_Step_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Ed_History_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_any_previous_education_qualification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Step_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_New_Contact</name>
        <label>New contact?</label>
        <locationX>1635</locationX>
        <locationY>785</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>New_Contact_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Form_Type</name>
        <label>Form Type</label>
        <locationX>343</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>Contact_Details_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Form_Type_Program_Offering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Constant_ProgramOffering</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_Acc_Location</targetReference>
            </connector>
            <label>Program Offering</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PicklistOption_CompletionStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>rio_ed__Completion_Status__c</picklistField>
        <picklistObject>rio_ed__Educational_Qualification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistOption_EQ_StudyMode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>rio_ed__Study_Mode__c</picklistField>
        <picklistObject>rio_ed__Educational_Qualification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistOption_PA_StudyMode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>rio_ed__Study_Mode__c</picklistField>
        <picklistObject>rio_ed__Program_Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistOption_Program</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acadmicProgramRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>redu_SelectedProgramId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Display_ProgramEntryCriteria</assignToReference>
            <field>rio_ed__Program_Entry_Criteria__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistOption_Salutation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistOption_Term</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__Census_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Enrollment_Open_Date_Time__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>hed__Term__c</object>
        <outputAssignments>
            <assignToReference>Display_TermStartDate</assignToReference>
            <field>hed__Start_Date__c</field>
        </outputAssignments>
        <sortField>rio_ed__Enrollment_Open_Date_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordPicklist_Campus</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType_Acc_Location.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Campus__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>redu_SelectedCampusId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordPicklist_Program_Offering</name>
        <dataType>String</dataType>
        <displayField>redu_Program_Name_F__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__Campus__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>redu_SelectedCampusId</elementReference>
            </value>
        </filters>
        <object>rio_ed__Program_Offering__c</object>
        <outputAssignments>
            <assignToReference>redu_SelectedProgramOfferingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>redu_SelectedProgramId</assignToReference>
            <field>rio_ed__Program__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>acadmicProgramRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.rio_ed__RIO_Education_Settings__c.rio_ed__Academic_Program_Account_Record_Type__c}</expression>
    </formulas>
    <formulas>
        <name>contactCommunityUsernamePrefix</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Object_Contact.rio_ed__Community_Username_Prefix__c})),
  {!Object_Contact.rio_ed__Community_Username_Prefix__c},
  IF( ISBLANK({!FirstName}), &quot;&quot;, LOWER(SUBSTITUTE({!FirstName}, &quot; &quot;,&quot;&quot;)) &amp; &quot;.&quot;) &amp; LOWER(SUBSTITUTE({!LastName}, &quot; &quot;,&quot;&quot;))
)</expression>
    </formulas>
    <formulas>
        <name>currentContactId</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!contactId}), {!$User.ContactId}, {!contactId} )</expression>
    </formulas>
    <formulas>
        <name>currentLeadId</name>
        <dataType>String</dataType>
        <expression>{!leadId}</expression>
    </formulas>
    <formulas>
        <name>PA_StartingMonth</name>
        <dataType>String</dataType>
        <expression>CASE(
  MONTH(  {!Display_TermStartDate} ),
  1, &quot;January&quot;,
  2, &quot;February&quot;,
  3, &quot;March&quot;,
  4, &quot;April&quot;,
  5, &quot;May&quot;,
  6, &quot;June&quot;,
  7, &quot;July&quot;,
  8, &quot;August&quot;,
  9, &quot;September&quot;,
  10, &quot;October&quot;,
  11, &quot;November&quot;,
  &quot;December&quot;
)</expression>
    </formulas>
    <formulas>
        <name>PA_StartingYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!Display_TermStartDate}))</expression>
    </formulas>
    <interviewLabel>Program Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>REDU Program Application</label>
    <loops>
        <name>Loop_Ed_Histories</name>
        <label>Loop Ed Histories</label>
        <locationX>2042</locationX>
        <locationY>652</locationY>
        <assignNextValueToReference>Object_EducationalQualification</assignNextValueToReference>
        <collectionReference>ObjectList_EducationalQualification</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Ed_History_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Ed_Histories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1782</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Set_PA_Obj</targetReference>
        </connector>
        <inputReference>Object_Contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ed_Histories</name>
        <label>Create Ed Histories</label>
        <locationX>2208</locationX>
        <locationY>784</locationY>
        <connector>
            <targetReference>Supporting_Documents_Screen</targetReference>
        </connector>
        <inputReference>ObjectList_EducationalQualification_DML</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PA</name>
        <label>Create PA</label>
        <locationX>2042</locationX>
        <locationY>780</locationY>
        <connector>
            <targetReference>Loop_Ed_Histories</targetReference>
        </connector>
        <inputReference>Object_ProgramApplication</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_RecordType_Acc_Location</name>
        <label>Get_RecordType_Acc_Location</label>
        <locationX>50</locationX>
        <locationY>464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Location</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query contact by currentContactId</description>
        <name>Query_Contact</name>
        <label>Query Contact</label>
        <locationX>501</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Init_Contact_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Object_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>rio_ed__Community_Username_Prefix__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1782</locationX>
        <locationY>853</locationY>
        <connector>
            <targetReference>Set_PA_Obj</targetReference>
        </connector>
        <inputReference>Object_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PA</name>
        <label>Update PA</label>
        <locationX>2600</locationX>
        <locationY>784</locationY>
        <connector>
            <targetReference>Set_Step_5</targetReference>
        </connector>
        <inputReference>Object_ProgramApplication</inputReference>
    </recordUpdates>
    <screens>
        <name>Campus</name>
        <label>Campus</label>
        <locationX>227</locationX>
        <locationY>581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Details_Screen</targetReference>
        </connector>
        <fields>
            <name>Campus_Selection</name>
            <fieldText>&lt;p&gt;Please select the campus that you would like to study:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>redu_Campus</name>
            <choiceReferences>recordPicklist_Campus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Campus</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Details_Screen</name>
        <label>Contact Details</label>
        <locationX>354</locationX>
        <locationY>581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Step_2</targetReference>
        </connector>
        <fields>
            <name>PG_ContactDetails</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>redu_Program_Interested_ProgramOffering</name>
            <choiceReferences>recordPicklist_Program_Offering</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program Interested</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formtype</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Constant_ProgramOffering</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>redu_Campus</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProgramInterested</name>
            <choiceReferences>PicklistOption_Program</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program Interested</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formtype</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Constant_ProgramOffering</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>input_firstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>input_lastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BirthDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>input_birthdate</elementReference>
            </defaultValue>
            <fieldText>Birth Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>You must be 19 years old and above.</errorMessage>
                <formulaExpression>YEAR(TODAY()) - YEAR({!BirthDate}) &gt;= 19 &amp;&amp; YEAR(TODAY()) - YEAR({!BirthDate}) &lt;= 100</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>input_email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>input_email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>MobilePhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>input_mobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>input_mobilePhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>HomePhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Home Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>input_phone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>input_phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Button_ContactDetails</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishButtonLabel</name>
                <value>
                    <stringValue>Done</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <helpText>Please provide your contact details.</helpText>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Educational_History_Screen</name>
        <label>Educational History</label>
        <locationX>1224</locationX>
        <locationY>496</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Ed_History</targetReference>
        </connector>
        <fields>
            <name>PG_EducationalHistory</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Qualification</name>
            <dataType>String</dataType>
            <fieldText>Qualification</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SchoolInstitution</name>
            <dataType>String</dataType>
            <fieldText>School/Institution</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EQ_StudyMode</name>
            <choiceReferences>PicklistOption_EQ_StudyMode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Study Mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StartDate</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CompletionDate</name>
            <dataType>Date</dataType>
            <fieldText>Completion Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CompletionStatus</name>
            <choiceReferences>PicklistOption_CompletionStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Completion Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ResultGrade</name>
            <dataType>String</dataType>
            <fieldText>Result/Grade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Would_you_like_to_add_more</name>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to add more?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Button_EdHistory</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Program_Details_Screen</name>
        <label>Program Details</label>
        <locationX>796</locationX>
        <locationY>581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Has_Ed_History</targetReference>
        </connector>
        <fields>
            <name>PG_ProgramDetails</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProgramEntryCriteria</name>
            <fieldText>&lt;div&gt;
&lt;b&gt;Program Entry Criteria&lt;/b&gt;
&lt;p&gt;{!Display_ProgramEntryCriteria}&lt;/p&gt;
&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartingTerm</name>
            <choiceReferences>PicklistOption_Term</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Starting Term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PA_StudyMode</name>
            <choiceReferences>PicklistOption_PA_StudyMode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Study Mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fee_Type</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>rio_ed__Program_Application__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>rio_ed__Fee_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>rio_ed__Fee_Type_Option__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Payment Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Assistance/Funding Options</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>input_feeType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>input_feeTypeOption</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>input_feeType</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>input_feeTypeOption</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Empty_Space</name>
            <fieldText>&lt;p&gt;&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_have_any_previous_education_qualification</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you have any previous education qualification?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Button_ProgramDetails</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishButtonLabel</name>
                <value>
                    <stringValue>Done</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>split</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supporting_Documents_Screen</name>
        <label>Supporting Documents</label>
        <locationX>2360</locationX>
        <locationY>784</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_PA_Status</targetReference>
        </connector>
        <fields>
            <name>PG_SupportingDocuments</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SupportingDocuments</name>
            <fieldText>Please provide any supporting documents (e.g, driver licence or passport) that could prove your residential status.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>rio_ed:CustomFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>Object_ProgramApplication.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Upload document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>uploadAs</name>
                <value>
                    <stringValue>Salesforce Files</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Button_SupportingDocuments</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishButtonLabel</name>
                <value>
                    <stringValue>Done</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You</label>
        <locationX>2839</locationX>
        <locationY>784</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PG_ThankYou</name>
            <extensionName>rio_ed:CustomFlowProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p&gt;Thank you for submitting the application. You will be notified via email once your application is being processed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>rio_ed__Program_Application</sourceTemplate>
    <stages>
        <description>Step 1</description>
        <name>Contact_Details</name>
        <isActive>true</isActive>
        <label>Contact Details</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Education_History</name>
        <isActive>true</isActive>
        <label>Education History</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <description>Step 2</description>
        <name>Program_Details</name>
        <isActive>true</isActive>
        <label>Program Details</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Submitted</name>
        <isActive>true</isActive>
        <label>Submitted</label>
        <stageOrder>25</stageOrder>
    </stages>
    <stages>
        <description>Step 3</description>
        <name>Supporting_Documents</name>
        <isActive>true</isActive>
        <label>Supporting Documents</label>
        <stageOrder>20</stageOrder>
    </stages>
    <start>
        <locationX>226</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Decision_Has_contactId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Display_ProgramEntryCriteria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Display_TermStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Set the parameter as &quot;Program Offering&quot; if you want the program option to be based on program offering.</description>
        <name>formtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Program</stringValue>
        </value>
    </variables>
    <variables>
        <name>input_birthdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_communityUsernamePrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_feeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_feeTypeOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_mobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Object_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Object_EducationalQualification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rio_ed__Educational_Qualification__c</objectType>
    </variables>
    <variables>
        <name>Object_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Object_ProgramApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rio_ed__Program_Application__c</objectType>
    </variables>
    <variables>
        <name>ObjectList_EducationalQualification</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rio_ed__Educational_Qualification__c</objectType>
    </variables>
    <variables>
        <name>ObjectList_EducationalQualification_DML</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rio_ed__Educational_Qualification__c</objectType>
    </variables>
    <variables>
        <name>redu_SelectedCampusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redu_SelectedProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redu_SelectedProgramOfferingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
