unpackaged/config/ready/18_HousingFeeGeneration/flows/redu_Generate_Housing_Fee.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Set PeName and selectedPeId</description>
        <name>Set_PeName_and_SelectedPeId</name>
        <label>Set PeName and selectedPeId</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>peName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Housing_App.rio_edhouse__Program_Enrollment__r.redu_Housing_Picklist_Option_Label__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedPeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Housing_App.rio_edhouse__Program_Enrollment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PE_Pathway_Select_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_StudentName</name>
        <label>Set StudentName</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>studentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Housing_App.rio_edhouse__Student__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>studentName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>studentName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Query_Housing_App.rio_edhouse__Student__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Program_Enrollment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Student_Fee</name>
        <label>Found Student Fee?</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>No_Student_Fee_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Student_Fee_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Main_Term_Student_Fee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Housing_Fee_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Program_Enrollment</name>
        <label>Has Program Enrollment</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>PE_Select_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Program_Enrollment_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Housing_App.rio_edhouse__Program_Enrollment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PeName_and_SelectedPeId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_recordId</name>
        <label>Has recordId?</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Missing_Record_Id_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_recordId_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Housing_App</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This is to generate housing fee line on the selected student fee</description>
    <dynamicChoiceSets>
        <name>Student_PE_Pathway</name>
        <dataType>String</dataType>
        <displayField>redu_Housing_Picklist_Option_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedPeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Term__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>rio_ed__PE_Pathway_Status__c</object>
        <outputAssignments>
            <assignToReference>pePathwayTerm</assignToReference>
            <field>redu_Housing_Picklist_Option_Label__c</field>
        </outputAssignments>
        <sortField>rio_ed__My_Term__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Student_Program_Enrollment</name>
        <dataType>String</dataType>
        <displayField>redu_Housing_Picklist_Option_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Query_Housing_App.rio_edhouse__Student__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Program_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputAssignments>
            <assignToReference>selectedPeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>peName</assignToReference>
            <field>redu_Housing_Picklist_Option_Label__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Generate Housing Fee {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Generate Housing Fee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Query_Housing_App</name>
        <label>Query Housing App</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_StudentName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rio_edhouse__Housing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Main_Term_Student_Fee</name>
        <label>Query Main Term Student Fee</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Student_Fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__PE_Pathway__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Picklist_PEPathway</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Main_Term_Student_Fee__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rio_edhouse__Generate_Housing_Fees__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rio_ed__Student_Fee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_DML</name>
        <label>Rollback DML</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Update_Failed_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Housing_App</name>
        <label>Update Housing App</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Update_Student_Fee</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Failed_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Query_Housing_App.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rio_edhouse__Program_Enrollment__c</field>
            <value>
                <elementReference>selectedPeId</elementReference>
            </value>
        </inputAssignments>
        <object>rio_edhouse__Housing__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Student_Fee</name>
        <label>Update Student Fee</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Housing_Fee_Generated_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_DML</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Query_Main_Term_Student_Fee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rio_edhouse__Generate_Housing_Fees__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>rio_ed__Student_Fee__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_Housing_Fee_Screen</name>
        <label>Create Housing Fee Screen</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Housing_App</targetReference>
        </connector>
        <fields>
            <name>DiplayText_Confirmation</name>
            <fieldText>&lt;p&gt;Are you sure to add the housing fees to the primary student fee?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Student Name:&lt;/strong&gt; {!studentName}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Housing Application Record: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Query_Housing_App.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Program Enrollment ID:&lt;/strong&gt; {!peName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Term:&lt;/strong&gt; {!pePathwayTerm}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Student Fee Record:&lt;/strong&gt; {!Query_Main_Term_Student_Fee.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Housing_Fee_Generated_Screen</name>
        <label>Housing Fee Generated Screen</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_FeeGenerated</name>
            <fieldText>&lt;p&gt;The housing fee has been added.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Student Name:&lt;/strong&gt; {!studentName}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Housing Application Record: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Query_Housing_App.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Program Enrollment ID:&lt;/strong&gt; {!peName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Term:&lt;/strong&gt; {!pePathwayTerm}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Student Fee Record:&lt;/strong&gt; {!Query_Main_Term_Student_Fee.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Record_Id_Screen</name>
        <label>Missing Record Id Screen</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_MissingRecordId</name>
            <fieldText>&lt;p&gt;Missing record id. Please close the window to try again or contact your system administrator is the problem still persists.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Student_Fee_Found_Screen</name>
        <label>No Student Fee Found Screen</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_No_Student_Fee_Found</name>
            <fieldText>&lt;p&gt;Unfortunately, there is no primary student fee found for the selected term or the housing fee had been generated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please go back to the previous screen to select a different term.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PE_Pathway_Select_Screen</name>
        <label>PE Pathway Select Screen</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Query_Main_Term_Student_Fee</targetReference>
        </connector>
        <fields>
            <name>Picklist_PEPathway</name>
            <choiceReferences>Student_PE_Pathway</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a term:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PE_Select_Screen</name>
        <label>PE Select Screen</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PE_Pathway_Select_Screen</targetReference>
        </connector>
        <fields>
            <name>Picklist_StudentPe</name>
            <choiceReferences>Student_Program_Enrollment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a program enrollment:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Failed_Screen</name>
        <label>Update Failed Screen</label>
        <locationX>314</locationX>
        <locationY>1694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_ErrorMessage</name>
            <fieldText>&lt;p&gt;Oops! Something has gone wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Student Name:&lt;/strong&gt; {!studentName}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Housing Application Record: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Query_Housing_App.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Program Enrollment ID:&lt;/strong&gt; {!peName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Term:&lt;/strong&gt; {!pePathwayTerm}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Student Fee Record:&lt;/strong&gt; {!Query_Main_Term_Student_Fee.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt; {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please try again or contact your system administrator if problem still persists.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_recordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>peName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pePathwayTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedPeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>studentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Terms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Term__c</objectType>
    </variables>
</Flow>
