unpackaged/config/ready/02_Community_Transcript/flows/Request_Student_Transcript.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DummyAction2CommitTransaction</name>
        <label>DummyAction2CommitTransaction</label>
        <locationX>1007</locationX>
        <locationY>108</locationY>
        <actionName>c:redu_DummyFlowAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Created_SdocJob</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Errors</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>navigateMyTranscripts</name>
        <label>navigateMyTranscripts</label>
        <locationX>1316</locationX>
        <locationY>442</locationY>
        <actionName>c:redu_DummyFlowAction</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>navUrl</name>
            <value>
                <stringValue>/s/my-transcript</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>SDoc_Job_Attributes</name>
        <label>SDoc Job Attributes</label>
        <locationX>538</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>Object_SDocJob.SDOC__Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_SDocJob.SDOC__ObjApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hed__Program_Enrollment__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_SDocJob.SDOC__Doclist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TranscriptTemplateName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_SDocJob.SDOC__Oid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PicklistOption_PE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_SDocJob.SDOC__RunAs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SDoc_Custom_Settings.SDOC__ConnectedAppUserName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SDoc_Job</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TranscriptTemplateName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Transcript-Official</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Community_User</name>
        <label>Is Community User</label>
        <locationX>163</locationX>
        <locationY>201</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsCommunityUser_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SdocCustomSettings</name>
        <label>SdocCustomSettings</label>
        <locationX>792</locationX>
        <locationY>407</locationY>
        <defaultConnector>
            <targetReference>Show_Errors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SDocs Settings Not found</defaultConnectorLabel>
        <rules>
            <name>SDocCustom_settings_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SDoc_Custom_Settings.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SDoc_Job_Attributes</targetReference>
            </connector>
            <label>SDocCustom settings found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PicklistOption_PE</name>
        <dataType>String</dataType>
        <displayField>redu_Program_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Object_Contact.Id</elementReference>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Request Student Transcript {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Student Transcript</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SDoc_Job</name>
        <label>Create SDoc Job</label>
        <locationX>779</locationX>
        <locationY>116</locationY>
        <connector>
            <targetReference>DummyAction2CommitTransaction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Errors</targetReference>
        </faultConnector>
        <inputReference>Object_SDocJob</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Contact_Record</name>
        <label>Contact Record</label>
        <locationX>169</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_Enrollment_Selection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Object_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Created_SdocJob</name>
        <label>Created SdocJob</label>
        <locationX>1317</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Errors</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Object_SDocJob.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDOC__SDJob__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SDoc_Custom_Settings</name>
        <label>SDoc Custom Settings</label>
        <locationX>669</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SdocCustomSettings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SDocsSettings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDOC__SDocsSettings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Program_Enrollment_Selection</name>
        <label>Program Enrollment Selection</label>
        <locationX>169</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SDoc_Custom_Settings</targetReference>
        </connector>
        <fields>
            <name>Request_Transcript_Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Request Transcript&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Greeting</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select a Program Enrollment that you would like to request a Transcript.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Program_Enrollment</name>
            <choiceReferences>PicklistOption_PE</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program Enrollment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer_EnrollmentSelection</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pauseButtonLabel</name>
                <value>
                    <stringValue>Save &amp; Return</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Errors</name>
        <label>Show Errors</label>
        <locationX>1317</locationX>
        <locationY>294</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>navigateMyTranscripts</targetReference>
        </connector>
        <fields>
            <name>Error_Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Transcript Request&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SDOC_Creation_Success_Msg</name>
            <fieldText>&lt;p&gt;Transcript Request &lt;b&gt;{!Created_SdocJob.Name}&lt;/b&gt; has been submitted. Please allow 5-10 minutes for transcript to become available under My Transcripts.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Oops! Something went wrong. Please try again or contact our admission officer for assistance.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Error Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Error Message: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SDocSettingsNotFound</name>
            <fieldText>&lt;p&gt;SDocs config. record does not exist. Please contact support.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SDocCustom_settings_found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Footer_ShowErrors</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>44</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Is_Community_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NetworkID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Object_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Object_SDocJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SDOC__SDJob__c</objectType>
    </variables>
</Flow>
