unpackaged/ready/FeeLine/flows/Add_Fee_Lines.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Fee_Line</name>
        <label>Assign Fee Line</label>
        <locationX>789</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>obj_FeeLine.rio_ed__Student_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Student_Fee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FeeLine.rio_ed__Other_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fl_Final_Fee_Amount_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FeeLine.redu_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fl_Fee_Type2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FeeLine.redu_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FeeLine.rio_ed__Other_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fs_Fee_Description.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Line_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Fee Name: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Line_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Fee_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Line_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Line_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Fee Type: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Line_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fl_Fee_Type2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Line_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Line_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Fee Description: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Line_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fs_Fee_Description.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Line_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Line_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Fee Amount: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Line_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fl_Final_Fee_Amount_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Line_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Line_Summary_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_Line_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Fee_Line_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fee_Line_List</name>
        <label>Assign Fee Line List</label>
        <locationX>789</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>objList_FeeLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>obj_FeeLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_another_Fee_Line_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_another_Fee_Line_Decision</name>
        <label>Add another Fee Line</label>
        <locationX>647</locationX>
        <locationY>646</locationY>
        <defaultConnector>
            <targetReference>Fee_Line_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Add_another_Fee_Line_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_another_fee_line</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Fee</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>picklist_fl_FeeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>redu_Type__c</picklistField>
        <picklistObject>rio_ed__Fee_Line__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordPicklist_Fee</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>rio_ed__Fee__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fl_Fee_Amount_F</name>
        <dataType>String</dataType>
        <expression>IF(
	ISPICKVAL({!Get_Student_Fee.rio_ed__Program_Enrollment__r.hed__Contact__r.rio_ed__Student_Fee_Type__c}, &apos;Domestic&apos;),
	 TEXT({!Get_Fee_Details.rio_ed__Current_Fee_Domestic__c}),
         TEXT({!Get_Fee_Details.rio_ed__Current_Fee_International__c})
)</expression>
    </formulas>
    <formulas>
        <name>fl_Final_Fee_Amount_F</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!fl_Fee_Amount.value})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>input_fl_Fee_Type_F</name>
        <dataType>String</dataType>
        <expression>IF(
	ISPICKVAL({!Get_Fee_Details.rio_ed__Fee_Type__c}, &apos;Tuition&apos;),
	&apos;Tuition&apos;,
	&apos;Other&apos;
)</expression>
    </formulas>
    <formulas>
        <name>ProductId</name>
        <dataType>String</dataType>
        <expression>{!Get_Fee_Schedule_Details.redu_Product__c}</expression>
    </formulas>
    <interviewLabel>Add Fee Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Fee Lines</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Fee_Line</name>
        <label>Create Fee Line</label>
        <locationX>798</locationX>
        <locationY>806</locationY>
        <inputReference>objList_FeeLine</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Fee_Details</name>
        <label>Get Fee Details</label>
        <locationX>666</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fee_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sf_Fee</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rio_ed__Fee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fee_Schedule_Details</name>
        <label>Get Fee Schedule Details</label>
        <locationX>1001</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Fee_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__Fee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sf_Fee</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rio_ed__Fee_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Student_Fee</name>
        <label>Get Student Fee</label>
        <locationX>426</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rio_ed__Student_Fee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Fee</name>
        <label>Add Fee</label>
        <locationX>544</locationX>
        <locationY>342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Fee_Details</targetReference>
        </connector>
        <fields>
            <name>Fee_Count</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(116, 117, 117);&quot;&gt;Fee Line #{!Fee_Line_Count}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sf_Fee</name>
            <choiceReferences>recordPicklist_Fee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fee_Details</name>
        <label>Fee Details</label>
        <locationX>788</locationX>
        <locationY>342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Fee_Schedule_Details</targetReference>
        </connector>
        <fields>
            <name>Fee_Details_Label</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(51, 51, 51);&quot;&gt;Student Fee Type: &lt;/b&gt;&lt;span style=&quot;color: rgb(51, 51, 51);&quot;&gt;{!Get_Student_Fee.rio_ed__Program_Enrollment__r.hed__Contact__r.rio_ed__Student_Fee_Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 51, 51);&quot;&gt;Fee Name: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 51, 51);&quot;&gt;{!Get_Fee_Details.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fl_Fee_Type2</name>
            <choiceReferences>picklist_fl_FeeType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fee Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fl_Fee_Amount</name>
            <extensionName>c:redu_CustomTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formatter</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fee Amount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>input_fl_Fee_Amount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step</name>
                <value>
                    <stringValue>0.01</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>fs_Fee_Description</name>
            <extensionName>c:redu_CustomTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fee Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>input_fs_Fee_Description</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>Text</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Add_another_fee_line</name>
            <dataType>Boolean</dataType>
            <fieldText>Add another fee line?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fee_Line_Summary</name>
        <label>Fee Line Summary</label>
        <locationX>656</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Fee_Line</targetReference>
        </connector>
        <fields>
            <name>Fee_Line_Summary_Label</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(116, 117, 117);&quot;&gt;Fee Lines Summary&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Fee_Line_Summary_Text}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fee_Line_Summary_Footer</name>
            <extensionName>rio_ed:CustomFlowFooterButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Student_Fee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NewLine</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;br&gt;</text>
    </textTemplates>
    <variables>
        <name>Fee_Line_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Fee_Line_Summary_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_fl_Fee_Amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>fl_Fee_Amount_F</elementReference>
        </value>
    </variables>
    <variables>
        <name>input_fl_Fee_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>input_fl_Fee_Type_F</elementReference>
        </value>
    </variables>
    <variables>
        <name>input_fs_Fee_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Fee_Details.rio_ed__Description__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>input_sf_Fee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>obj_FeeLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rio_ed__Fee_Line__c</objectType>
    </variables>
    <variables>
        <name>objList_FeeLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rio_ed__Fee_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
