unpackaged/config/ready/29_Program_Offering_Capacity_RollUp/flows/redu_Program_Offering_Capacity_Rollup.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Count</name>
        <label>Add Count</label>
        <locationX>270</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>BookedPlacesCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Program_Applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Count_0</name>
        <label>Add Count</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>BookedPlacesCounter_OldList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Program_Applications_OldList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>oldListHasDifferentLookup</name>
        <label>oldListHasDifferentLookup?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Program_Applications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>oldListHasDifferentLookup_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.redu_Applicant_Seat_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.redu_Applicant_Seat_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.redu_Applicant_Seat_Category__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Program_Applications_OldList</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Lookup Rollup Configuration - Program Offering Capacity Rollup</description>
    <environments>Default</environments>
    <interviewLabel>Program Offering Capacity Rollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Offering Capacity Rollup</label>
    <loops>
        <name>Loop_Program_Applications</name>
        <label>Loop Program Applications</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_Program_Applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Program_Offering_Capacity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Program_Applications_OldList</name>
        <label>Loop Program Applications (OldList)</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Program_Applications_OldList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Count_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Program_Offering_Capacity_OldList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Program_Applications</name>
        <label>Get Program Applications</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Program_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>redu_Applicant_Seat_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.redu_Applicant_Seat_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rio_ed__Program_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Applications_OldList</name>
        <label>Get Program Applications (OldList)</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Program_Applications_OldList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>redu_Applicant_Seat_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.redu_Applicant_Seat_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rio_ed__Program_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Program_Offering_Capacity</name>
        <label>Update Program Offering Capacity</label>
        <locationX>182</locationX>
        <locationY>1583</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.redu_Applicant_Seat_Category__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>redu_Booked_Places__c</field>
            <value>
                <elementReference>BookedPlacesCounter</elementReference>
            </value>
        </inputAssignments>
        <object>redu_Program_Offering_Capacity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Offering_Capacity_OldList</name>
        <label>Update Program Offering Capacity (OldList)</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Get_Program_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.redu_Applicant_Seat_Category__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>redu_Booked_Places__c</field>
            <value>
                <elementReference>BookedPlacesCounter_OldList</elementReference>
            </value>
        </inputAssignments>
        <object>redu_Program_Offering_Capacity__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>oldListHasDifferentLookup</targetReference>
        </connector>
        <object>rio_ed__Program_Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BookedPlacesCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BookedPlacesCounter_OldList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
