unpackaged/config/ready/30_Course_Substitution/flows/redu_Course_Substitutions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>redu_Assign_New_Object_Names</name>
        <label>Assign New Object Names</label>
        <locationX>400</locationX>
        <locationY>2242</locationY>
        <assignmentItems>
            <assignToReference>var_New_PE_Group_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUB_PE_Group_{!var_Substitution_Course.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_New_PR_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUB_PR_{!var_Substitution_Course.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_New_PR_Group_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUB_PR_Group_{!var_Substitution_Course.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>redu_Substitute_PR_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>redu_Assign_New_PR_To_Substitute</name>
        <label>Assign New PR To Substitute</label>
        <locationX>266</locationX>
        <locationY>2703</locationY>
        <assignmentItems>
            <assignToReference>var_Substitute_PR.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_New_PR_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Substitute_PR.hed__Plan_Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_New_PR_Group_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>redu_Create_PE_Group</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>redu_Assign_PE_Discipline_Requirement_CC</name>
        <label>Assign PE Discipline Requirement  CC?</label>
        <locationX>1085</locationX>
        <locationY>3621</locationY>
        <defaultConnector>
            <targetReference>Process_PE_Discipline_Requirements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>redu_Course_Requirement_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_PE_Discipline_Requirements.rio_ed__Discipline_Requirement__r.rio_ed__Plan_Requirement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_Target_PR.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>redu_Update_PE_Discipline_Requirement</targetReference>
            </connector>
            <label>Course Requirement Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>redu_Course_Connection_Exists</name>
        <label>Course Connection Exists?</label>
        <locationX>551</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>redu_Update_Course_Connection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CC_Does_not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Target_CC_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>redu_Create_Course_Connection</targetReference>
            </connector>
            <label>CC Does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>redu_Elective_PR_Exists</name>
        <label>Elective PR Exists?</label>
        <locationX>551</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>redu_Get_Course_Connection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PR_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Substitute_PR.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>redu_Get_Substitute_PR</targetReference>
            </connector>
            <label>PR Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>redu_PE_Groups_Exist</name>
        <label>PE Groups Exist</label>
        <locationX>749</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PE_Group_Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PEGroups</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>redu_Select_PE_Group</targetReference>
            </connector>
            <label>PE Group Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>redu_Substitute_PR_Exists</name>
        <label>Substitute PR Exists?</label>
        <locationX>391</locationX>
        <locationY>2381</locationY>
        <defaultConnector>
            <targetReference>redu_Create_PE_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Substitute_PR_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Substitute_PR.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>redu_Create_Substitute_PR_Group</targetReference>
            </connector>
            <label>Substitute PR Does Not Exist</label>
        </rules>
    </decisions>
    <description>Screen Flow to handle One-Off Course Substitutions</description>
    <dynamicChoiceSets>
        <name>Course_Choice_Set</name>
        <collectionReference>var_Courses</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>hed__Course__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Department_Choice_Set</name>
        <collectionReference>var_Departments</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PEGroups_Choice_Set</name>
        <collectionReference>var_PEGroups</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>rio_ed__PE_Group_Status__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PR_Choice_Set</name>
        <collectionReference>var_PlanRequirements</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>hed__Plan_Requirement__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>frm_PE_Discipline_CC</name>
        <dataType>String</dataType>
        <expression>trim({!var_New_CC_ID} &amp; {!var_Target_CC_ID})</expression>
    </formulas>
    <interviewLabel>Crandall - Course Substitutions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Substitution</label>
    <loops>
        <name>Process_PE_Discipline_Requirements</name>
        <label>Process PE Discipline Requirements</label>
        <locationX>835</locationX>
        <locationY>3672</locationY>
        <collectionReference>redu_Get_PE_Discipline_Requirements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>redu_Assign_PE_Discipline_Requirement_CC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Process_PE_Disciplines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_PE_Disciplines</name>
        <label>Process PE Disciplines</label>
        <locationX>607</locationX>
        <locationY>3661</locationY>
        <collectionReference>redu_Get_PE_Disciplines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>redu_Get_PE_Discipline_Requirements</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>redu_Result</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Course Connection (Note: Record Type ID needs to be move to Custom Settings)</description>
        <name>redu_Create_Course_Connection</name>
        <label>Create Course Connection</label>
        <locationX>319</locationX>
        <locationY>3214</locationY>
        <assignRecordIdToReference>var_New_CC_ID</assignRecordIdToReference>
        <connector>
            <targetReference>redu_Get_New_Course_Connection</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.rio_ed__RIO_Education_Settings__c.redu_Student_Course_Connection_RT_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Account__c</field>
            <value>
                <elementReference>redu_Get_Program_Enrollment.hed__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <elementReference>redu_Get_Program_Enrollment.hed__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Program_Enrollment__c</field>
            <value>
                <elementReference>redu_Get_Program_Enrollment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__PE_Group__c</field>
            <value>
                <elementReference>PE_Group_Select</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Plan_Requirement_Course__c</field>
            <value>
                <elementReference>var_Substitute_PR.Id</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Enrollment__c</object>
    </recordCreates>
    <recordCreates>
        <name>redu_Create_PE_Group</name>
        <label>Create PE Group</label>
        <locationX>397</locationX>
        <locationY>2822</locationY>
        <assignRecordIdToReference>var_New_PE_Group_ID</assignRecordIdToReference>
        <connector>
            <targetReference>redu_Get_Course_Connection</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_New_PE_Group_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Credits__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Hide_in_Enrollment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Plan_Requirement__c</field>
            <value>
                <elementReference>var_Substitute_PR.hed__Plan_Requirement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Program_Enrollment__c</field>
            <value>
                <elementReference>redu_Get_Program_Enrollment.Id</elementReference>
            </value>
        </inputAssignments>
        <object>rio_ed__PE_Group_Status__c</object>
    </recordCreates>
    <recordCreates>
        <description>Create Substitute PR</description>
        <name>redu_Create_Substitute_PR</name>
        <label>Create Substitute PR</label>
        <locationX>50</locationX>
        <locationY>2614</locationY>
        <assignRecordIdToReference>var_New_PR_ID</assignRecordIdToReference>
        <connector>
            <targetReference>redu_Assign_New_PR_To_Substitute</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_New_PR_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.rio_ed__RIO_Education_Settings__c.rio_ed__Course_Plan_Requirement_RT_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Course__c</field>
            <value>
                <elementReference>var_Substitution_Course.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Credits__c</field>
            <value>
                <elementReference>var_Target_PR.hed__Credits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Plan_Requirement__c</field>
            <value>
                <elementReference>var_New_PR_Group_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Program_Plan__c</field>
            <value>
                <elementReference>$Setup.rio_ed__RIO_Education_Settings__c.redu_Program_Plan_Substitution_Record_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Plan_Requirement__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates PR Group for Substitution</description>
        <name>redu_Create_Substitute_PR_Group</name>
        <label>Create Substitute PR Group</label>
        <locationX>102</locationX>
        <locationY>2430</locationY>
        <assignRecordIdToReference>var_New_PR_Group_ID</assignRecordIdToReference>
        <connector>
            <targetReference>redu_Create_Substitute_PR</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_New_PR_Group_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.rio_ed__RIO_Education_Settings__c.rio_ed__Group_Plan_Requirement_RT_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Category__c</field>
            <value>
                <stringValue>Optional</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Credits__c</field>
            <value>
                <elementReference>var_Target_PR.hed__Credits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Program_Plan__c</field>
            <value>
                <elementReference>$Setup.rio_ed__RIO_Education_Settings__c.redu_Program_Plan_Substitution_Record_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rio_ed__Max_Credits__c</field>
            <value>
                <elementReference>var_Target_PR.hed__Credits__c</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Plan_Requirement__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_PE_Group</name>
        <label>Get PE Group</label>
        <locationX>551</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>redu_Get_Plan_Requirement_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PE_Group_Select</elementReference>
            </value>
        </filters>
        <object>rio_ed__PE_Group_Status__c</object>
        <outputReference>var_Target_PE_Group</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rio_ed__Plan_Requirement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Target_PR</name>
        <label>Get Target PR</label>
        <locationX>551</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>redu_Get_Departments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Plan_Requirement_Select</elementReference>
            </value>
        </filters>
        <object>hed__Plan_Requirement__c</object>
        <outputReference>var_Target_PR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>hed__Course__c</queriedFields>
        <queriedFields>hed__Credits__c</queriedFields>
        <queriedFields>hed__Plan_Requirement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>redu_Get_Course_Connection</name>
        <label>Get Course Connection</label>
        <locationX>553</locationX>
        <locationY>3037</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>redu_Course_Connection_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>redu_Get_Program_Enrollment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__PE_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PE_Group_Select</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Plan_Requirement_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Target_PR.Id</elementReference>
            </value>
        </filters>
        <object>hed__Course_Enrollment__c</object>
        <outputAssignments>
            <assignToReference>var_Target_CC_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Target_CC_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>redu_Get_Courses</name>
        <label>Get Courses</label>
        <locationX>551</locationX>
        <locationY>1526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>redu_Select_Substitution_Course</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Department_Select</elementReference>
            </value>
        </filters>
        <object>hed__Course__c</object>
        <outputReference>var_Courses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Retrieves account with University Department RecordTypeId</description>
        <name>redu_Get_Departments</name>
        <label>Get Departments</label>
        <locationX>551</locationX>
        <locationY>1286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>redu_Select_Department</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.rio_ed__RIO_Education_Settings__c.rio_ed__University_Department_RT_Id__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>var_Departments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get Substitution Plan Course Requirement if it exists</description>
        <name>redu_Get_Elective_PR</name>
        <label>Get Elective PR</label>
        <locationX>551</locationX>
        <locationY>1886</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>redu_Elective_PR_Exists</targetReference>
        </connector>
        <filterLogic>1 and 2 and 3 and (4 or 5)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.rio_ed__RIO_Education_Settings__c.rio_ed__Course_Plan_Requirement_RT_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Course_Select</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Credits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Target_PR.hed__Credits__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Plan_Requirement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PlanRequirementGroup.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Plan_Requirement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PlanRequirementGroup.rio_ed__Shared_Group__c</elementReference>
            </value>
        </filters>
        <object>hed__Plan_Requirement__c</object>
        <outputReference>var_Substitute_PR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Plan_Requirement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>redu_Get_New_Course_Connection</name>
        <label>Get New Course Connection</label>
        <locationX>323</locationX>
        <locationY>3374</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>redu_Get_PE_Disciplines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_New_CC_ID</elementReference>
            </value>
        </filters>
        <object>hed__Course_Enrollment__c</object>
        <outputAssignments>
            <assignToReference>var_New_CC_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>redu_Get_PE_Discipline_Requirements</name>
        <label>Get PE Discipline Requirements</label>
        <locationX>728</locationX>
        <locationY>3471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_PE_Discipline_Requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__PE_Discipline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Process_PE_Disciplines.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rio_ed__Plan_Requirement_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Target_PR.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rio_ed__PE_Discipline_Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>redu_Get_PE_Disciplines</name>
        <label>Get PE Disciplines</label>
        <locationX>478</locationX>
        <locationY>3555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_PE_Disciplines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>redu_Get_Program_Enrollment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rio_ed__PE_Discipline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>redu_Get_PE_Groups</name>
        <label>Get PE Groups</label>
        <locationX>749</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>redu_PE_Groups_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rio_ed__Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>redu_Get_Program_Enrollment.Id</elementReference>
            </value>
        </filters>
        <object>rio_ed__PE_Group_Status__c</object>
        <outputReference>var_PEGroups</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>rio_ed__Plan_Requirement__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>redu_Get_Plan_Requirement_Group</name>
        <label>Get Plan Requirement Group</label>
        <locationX>551</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>redu_Get_Plan_Requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Target_PE_Group.rio_ed__Plan_Requirement__c</elementReference>
            </value>
        </filters>
        <object>hed__Plan_Requirement__c</object>
        <outputReference>var_PlanRequirementGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>rio_ed__Shared_Group__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets Plan Course Requirements</description>
        <name>redu_Get_Plan_Requirements</name>
        <label>Get Plan Requirements</label>
        <locationX>551</locationX>
        <locationY>926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>redu_Select_Plan_Requirement</targetReference>
        </connector>
        <filterLogic>1 and (2 or 3) and 4</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.rio_ed__RIO_Education_Settings__c.rio_ed__Course_Plan_Requirement_RT_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Plan_Requirement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PlanRequirementGroup.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Plan_Requirement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PlanRequirementGroup.rio_ed__Shared_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Plan_Requirement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Plan_Requirement__c</object>
        <outputReference>var_PlanRequirements</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>redu_Get_Program_Enrollment</name>
        <label>Get Program Enrollment</label>
        <locationX>749</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>redu_Get_PE_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Program_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Substitute PR if Exists</description>
        <name>redu_Get_Substitute_PR</name>
        <label>Get Substitute PR</label>
        <locationX>397</locationX>
        <locationY>2126</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>redu_Assign_New_Object_Names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Program_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.rio_ed__RIO_Education_Settings__c.redu_Program_Plan_Substitution_Record_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.rio_ed__RIO_Education_Settings__c.rio_ed__Course_Plan_Requirement_RT_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Credits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Target_PR.hed__Credits__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Course_Select</elementReference>
            </value>
        </filters>
        <object>hed__Plan_Requirement__c</object>
        <outputReference>var_Substitute_PR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Plan_Requirement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>redu_Get_Substitution_Course</name>
        <label>Get Substitution Course</label>
        <locationX>551</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>redu_Get_Elective_PR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Course_Select</elementReference>
            </value>
        </filters>
        <object>hed__Course__c</object>
        <outputReference>var_Substitution_Course</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>redu_Update_Course_Connection</name>
        <label>Update Course Connection</label>
        <locationX>683</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>redu_Get_PE_Disciplines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Target_CC_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rio_ed__Plan_Requirement_Course__c</field>
            <value>
                <elementReference>var_Substitute_PR.Id</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Enrollment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>redu_Update_PE_Discipline_Requirement</name>
        <label>Update PE Discipline Requirement</label>
        <locationX>1090</locationX>
        <locationY>3822</locationY>
        <connector>
            <targetReference>Process_PE_Discipline_Requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Process_PE_Discipline_Requirements.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rio_ed__Course_Connection__c</field>
            <value>
                <elementReference>frm_PE_Discipline_CC</elementReference>
            </value>
        </inputAssignments>
        <object>rio_ed__PE_Discipline_Requirement__c</object>
    </recordUpdates>
    <screens>
        <name>redu_Result</name>
        <label>Result</label>
        <locationX>470</locationX>
        <locationY>3805</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>redu_Result_DisplayText1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Result:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>redu_New_PR_Group_Created</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Program Requirement Group:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!var_New_PR_Group_Name} &lt;/b&gt;({!var_New_PR_Group_ID}) was &lt;b&gt;created&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_New_PR_Group_ID</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>redu_PR_Created</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Program Requirement:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!var_New_PR_Name}&lt;/b&gt; ({!var_New_PR_ID}) was &lt;b&gt;created&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_New_PR_ID</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>redu_PE_Group_Created</name>
            <fieldText>&lt;p&gt;&lt;b&gt;PE Group:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!var_New_PE_Group_Name}&lt;/b&gt; ({!var_New_PE_Group_ID}) was &lt;b&gt;created&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_New_PE_Group_ID</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>redu_CC_Updated</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Course Connection:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!var_Target_CC_Name} &lt;/b&gt;({!var_Target_CC_ID}) was &lt;b&gt;updated&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_Target_CC_ID</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>redu_CC_Created</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Course Connection:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!var_New_CC_Name}&lt;/b&gt; ({!var_New_CC_ID}) was &lt;b&gt;created&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_New_CC_ID</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>redu_Select_Department</name>
        <label>Select Department</label>
        <locationX>551</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>redu_Get_Courses</targetReference>
        </connector>
        <fields>
            <name>Select_Department_DisplayText_1</name>
            <fieldText>&lt;p&gt;Select the Substitute Course&apos;s Department:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Department_Select</name>
            <choiceReferences>Department_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Department:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>redu_Select_PE_Group</name>
        <label>Select PE Group</label>
        <locationX>551</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_PE_Group</targetReference>
        </connector>
        <fields>
            <name>PE_Group_Select_DisplayText_1</name>
            <fieldText>&lt;p&gt;Select the PE Group that contains the course to be replaced:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PE_Group_Select</name>
            <choiceReferences>PEGroups_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PE Groups:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>redu_Select_Plan_Requirement</name>
        <label>Select Plan Requirement</label>
        <locationX>551</locationX>
        <locationY>1046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Target_PR</targetReference>
        </connector>
        <fields>
            <name>Select_PR_DisplayText_1</name>
            <fieldText>&lt;p&gt;Select Program Requirement Course to replace:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Plan_Requirement_Select</name>
            <choiceReferences>PR_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Plan Requirement Select</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>redu_Select_Substitution_Course</name>
        <label>Select Substitution Course</label>
        <locationX>551</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>redu_Get_Substitution_Course</targetReference>
        </connector>
        <fields>
            <name>Select_Course_DisplayText_1</name>
            <fieldText>&lt;p&gt;Select Substitute Course:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Course_Select</name>
            <choiceReferences>Course_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Course:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>623</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>redu_Get_Program_Enrollment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>input_Contact_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input PE ID</description>
        <name>input_PE_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_Program</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Courses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course__c</objectType>
    </variables>
    <variables>
        <description>Department list for substitution course selection.</description>
        <name>var_Departments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_New_CC_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_New_CC_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_New_Course_Connection_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_New_PE_Group_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_New_PE_Group_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_New_PR_Group_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_New_PR_Group_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_New_PR_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_New_PR_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PE_Discipline_Requirements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rio_ed__PE_Discipline_Requirement__c</objectType>
    </variables>
    <variables>
        <name>var_PE_Disciplines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rio_ed__PE_Discipline__c</objectType>
    </variables>
    <variables>
        <name>var_PEGroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rio_ed__PE_Group_Status__c</objectType>
    </variables>
    <variables>
        <name>var_PlanRequirementGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Plan_Requirement__c</objectType>
    </variables>
    <variables>
        <name>var_PlanRequirements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Plan_Requirement__c</objectType>
    </variables>
    <variables>
        <name>var_Substitute_PR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Plan_Requirement__c</objectType>
    </variables>
    <variables>
        <name>var_Substitution_Course</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course__c</objectType>
    </variables>
    <variables>
        <name>var_Target_CC_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Target_CC_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Target_PE_Group</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rio_ed__PE_Group_Status__c</objectType>
    </variables>
    <variables>
        <name>var_Target_PR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Plan_Requirement__c</objectType>
    </variables>
</Flow>
